requirements-parser==0.9.0
setuptools==75.2.0
types-setuptools==82.0.0.20260508
pip==24.1.2
google-colab==1.0.0
SQLAlchemy==2.0.49
arrow==1.4.0
google-cloud-bigquery==3.41.0
pynndescent==0.6.0
jupyter-events==0.12.1
logical-unification==0.4.7
backcall==0.2.0
psycopg2==2.9.12
torchcodec==0.10.0
tenacity==9.1.4
ipywidgets==7.7.1
torchaudio==2.10.0+cpu
gdown==5.2.2
google-cloud-bigquery-storage==2.37.0
orjson==3.11.8
srsly==2.5.3
pytest==8.4.2
scikit-image==0.25.2
bokeh==3.8.2
wordcloud==1.9.6
langchain-core==1.3.1
blobfile==3.2.0
overrides==7.7.0
zstandard==0.25.0
tensorboard-data-server==0.7.2
matplotlib-venn==1.1.2
MarkupSafe==3.0.3
imutils==0.5.4
murmurhash==1.0.15
watchdog==6.0.0
parsy==2.2
widgetsnbextension==3.6.10
click==8.3.3
notebook==6.5.7
scs==3.2.11
umap-learn==0.5.12
datasets==4.0.0
sphinxcontrib-htmlhelp==2.1.0
access==1.1.10.post3
pydotplus==2.0.2
types-pytz==2026.1.1.20260408
prophet==1.3.0
huggingface_hub==1.11.0
rtree==1.4.1
dataproc-spark-connect==1.1.0
PyDrive2==1.21.3
Mako==1.3.11
tifffile==2026.4.11
fastai==2.8.7
docstring_parser==0.18.0
urllib3==2.5.0
geopandas==1.1.3
dopamine_rl==4.1.2
pooch==1.9.0
spanner-graph-notebook==1.1.10
keyring==25.7.0
apswutils==0.1.2
pyzmq==26.2.1
opt_einsum==3.4.0
google-cloud-trace==1.19.0
sniffio==1.3.1
imagesize==2.0.0
nltk==3.9.1
missingno==0.5.2
multitasking==0.0.13
dlib==19.24.6
grain==0.2.16
timm==1.0.26
tinycss2==1.4.0
ruff==0.15.11
greenlet==3.4.0
python-slugify==8.0.4
lark==1.3.1
llvmlite==0.43.0
Sphinx==8.2.3
future==1.0.0
platformdirs==4.9.6
SecretStorage==3.5.0
httpx==0.28.1
promise==2.3
pyperclip==1.11.0
uri-template==1.3.0
Jinja2==3.1.6
thinc==8.3.13
pyarrow==18.1.0
PySocks==1.7.1
cufflinks==0.17.3
tokenizers==0.22.2
cmdstanpy==1.3.0
pycparser==3.0
itsdangerous==2.2.0
google-cloud-resource-manager==1.17.0
cachetools==6.2.6
google-cloud-dataproc==5.27.0
ipyevents==2.0.4
sphinxcontrib-qthelp==2.0.0
jupyter-console==6.6.3
h2==4.3.0
brotli==1.2.0
spacy-loggers==1.0.5
entrypoints==0.4
opentelemetry-exporter-gcp-logging==1.11.0a0
tobler==0.14.0
sphinxcontrib-applehelp==2.0.0
charset-normalizer==3.4.7
starlette==0.52.1
h5netcdf==1.8.1
yarl==1.23.0
optax==0.2.8
uritemplate==4.2.0
opencv-contrib-python==4.13.0.92
cloudpickle==3.1.2
importlib_resources==7.1.0
inequality==1.1.2
click-plugins==1.1.1.2
google-cloud-speech==2.38.0
patsy==1.0.2
intel-cmplr-lib-ur==2025.3.3
multipledispatch==1.0.0
keras-hub==0.26.0
python-dotenv==1.2.2
typer==0.24.2
pytz==2025.2
smmap==5.0.3
python-snappy==0.7.3
debugpy==1.8.15
notebook_shim==0.2.4
imageio-ffmpeg==0.6.0
fonttools==4.62.1
sklearn-compat==0.1.5
py-cpuinfo==9.0.0
google-auth-httplib2==0.3.1
soxr==1.0.0
google-cloud-discoveryengine==0.13.12
glob2==0.7
gitdb==4.0.12
python-json-logger==4.1.0
moviepy==1.0.3
typeguard==4.5.1
cffi==2.0.0
rpds-py==0.30.0
smart_open==7.6.0
pillow==11.3.0
protobuf==5.29.6
namex==0.1.0
weasel==1.0.0
google-cloud-audit-log==0.5.0
peft==0.19.1
partd==1.4.2
colorlover==0.3.0
easydict==1.13
google-cloud-aiplatform==1.148.1
pandas-datareader==0.10.0
ydf==0.15.0
scikit-learn==1.6.1
fastjsonschema==2.21.2
ratelim==0.1.6
imbalanced-learn==0.14.1
pydata-google-auth==1.9.1
aiosignal==1.4.0
mpmath==1.3.0
gast==0.7.0
pluggy==1.6.0
ydf_tf==2.20.0
mkl==2025.3.1
markdown-it-py==4.0.0
multiprocess==0.70.16
sphinxcontrib-jsmath==1.0.1
roman-numerals-py==4.1.0
tensorstore==0.1.82
tf-slim==1.1.0
jsonpickle==4.1.1
zipp==3.23.1
eerepr==0.1.2
python-fasthtml==0.12.50
fasttransform==0.0.2
opentelemetry-proto==1.38.0
portpicker==1.5.2
fastapi==0.136.1
dm-tree==0.1.10
pydantic_core==2.41.4
kagglehub==1.0.0
google-api-core==2.30.3
osqp==1.1.1
apsw==3.53.0.0
blis==1.3.3
simple-parsing==0.1.8
pygit2==1.19.2
cmake==3.31.10
google-adk==1.29.0
ndindex==1.10.1
tables==3.10.2
typing_extensions==4.15.0
cycler==0.12.1
astropy==7.2.0
geemap==0.37.2
transformers==5.0.0
prompt_toolkit==3.0.52
jupyter_core==5.9.1
torchao==0.10.0
slicer==0.0.8
intel-openmp==2025.3.3
kagglesdk==0.1.20
importlib_metadata==8.7.1
google-cloud-firestore==2.27.0
attrs==26.1.0
arviz==0.22.0
more-itertools==10.8.0
spacy-legacy==3.0.12
diffusers==0.37.1
referencing==0.37.0
psygnal==0.15.1
tf_keras==2.20.0
grpcio==1.80.0
yfinance==0.2.66
pickleshare==0.7.5
keras-nlp==0.26.0
Pygments==2.20.0
matplotlib-inline==0.2.1
mistune==3.2.0
webencodings==0.5.1
google-api-python-client==2.194.0
jsonpatch==1.33
python-dateutil==2.9.0.post0
Send2Trash==2.1.0
numexpr==2.14.1
tzdata==2026.1
altair==5.5.0
watchfiles==1.1.1
annotated-doc==0.0.4
opentelemetry-semantic-conventions==0.59b0
multidict==6.7.1
fastprogress==1.1.5
wrapt==2.1.2
en_core_web_sm==3.8.0
jiter==0.14.0
proto-plus==1.27.2
shap==0.51.0
python-box==7.4.1
momepy==0.11.0
hyperopt==0.2.7
sse-starlette==3.3.4
langgraph==1.1.9
nest-asyncio==1.6.0
tiktoken==0.12.0
h5py==3.16.0
webcolors==25.10.0
google-resumable-media==2.8.2
tcmlib==1.4.1
uuid_utils==0.14.1
mdurl==0.1.2
hf-xet==1.4.3
plotly==5.24.1
et_xmlfile==2.0.0
ptyprocess==0.7.0
cvxopt==1.3.2
aiofiles==24.1.0
splot==1.1.7
tensorflow-datasets==4.9.9
sphinxcontrib-serializinghtml==2.0.0
ibis-framework==9.5.0
pygame==2.6.1
uvicorn==0.46.0
mizani==0.13.5
google-ai-generativelanguage==0.6.15
shellingham==1.5.4
distro==1.9.0
duckdb==1.3.2
PuLP==3.3.0
gym==0.25.2
alembic==1.18.4
toolz==0.12.1
google-cloud-appengine-logging==1.9.0
pyasn1==0.6.3
simplejson==4.1.0
pyOpenSSL==24.2.1
geocoder==1.38.1
google-cloud-functions==1.23.0
packaging==26.1
jaraco.classes==3.4.0
aiosqlite==0.22.1
array_record==0.8.3
keyrings.google-artifactregistry-auth==1.1.2
absl-py==1.4.0
gin-config==0.5.0
langgraph-checkpoint==4.0.2
websocket-client==1.9.0
google-cloud-language==2.20.0
ipyleaflet==0.20.0
pyiceberg==0.11.1
pycairo==1.29.0
umf==1.0.3
frozenlist==1.8.0
google-cloud-secret-manager==2.27.0
httpx-sse==0.4.3
textblob==0.19.0
pyerfa==2.0.1.5
ipyparallel==8.8.0
blosc2==4.1.2
six==1.17.0
pysal==25.7
cymem==2.0.13
atpublic==5.1
nbclassic==1.3.3
preshed==3.0.13
nvidia-nccl-cu12==2.30.4
lxml==6.1.0
annotated-types==0.7.0
google-auth-oauthlib==1.3.1
bigframes==2.39.0
onemkl-license==2025.3.1
plotnine==0.14.5
opentelemetry-exporter-otlp-proto-common==1.38.0
mcp==1.27.0
highspy==1.14.0
simsimd==6.5.16
deprecation==2.1.0
GDAL==3.8.4
cons==0.4.7
tensorboard==2.20.0
google-cloud-dataplex==2.18.0
tensorflow-hub==0.16.1
grpc-interceptor==0.15.4
statsmodels==0.14.6
httpcore==1.0.9
rasterstats==0.20.0
oauth2client==4.1.3
python-multipart==0.0.26
propcache==0.4.1
jaraco.context==6.1.2
wcwidth==0.6.0
pydot==4.0.1
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
folium==0.20.0
xgboost==3.2.0
cramjam==2.11.0
nibabel==5.4.2
panel==1.8.10
catalogue==2.0.10
gymnasium==1.3.0
pandas-gbq==0.30.0
termcolor==3.3.0
autograd==1.8.0
anyio==4.13.0
wheel==0.47.0
vega-datasets==0.9.0
oauthlib==3.3.1
h11==0.16.0
babel==2.18.0
rasterio==1.5.0
tzlocal==5.3.1
isoduration==20.11.0
joblib==1.5.3
hpack==4.1.0
inflect==7.5.0
msgpack==1.1.2
rfc3986-validator==0.1.1
bigquery-magics==0.14.0
PyYAML==6.0.3
google-cloud-logging==3.15.0
curl_cffi==0.15.0
httpimport==1.4.1
Authlib==1.6.11
clarabel==0.11.1
google-crc32c==1.8.0
python-louvain==0.16
community==1.0.0b1
threadpoolctl==3.6.0
decorator==4.4.2
plum-dispatch==2.8.0
tensorflow-metadata==1.17.3
requests-oauthlib==2.0.0
geopy==2.4.1
beartype==0.22.9
pyomo==6.10.0
scooby==0.11.2
seaborn==0.13.2
wasabi==1.1.3
psutil==5.9.5
progressbar2==4.5.0
PyJWT==2.12.1
spglm==1.1.0
mdit-py-plugins==0.5.0
humanize==4.15.0
requests==2.32.4
Werkzeug==3.1.8
uc-micro-py==2.0.0
albucore==0.0.24
librosa==0.11.0
pyshp==3.0.3
frozendict==2.4.7
pyasn1_modules==0.4.2
soupsieve==2.8.3
fastlite==0.2.4
polars==1.35.2
blinker==1.9.0
antlr4-python3-runtime==4.9.3
treescope==0.1.10
opentelemetry-api==1.38.0
graphviz==0.21
astunparse==1.6.3
groovy==0.1.2
lightgbm==4.6.0
opentelemetry-resourcedetector-gcp==1.11.0a0
sentry-sdk==2.58.0
orbax-checkpoint==0.11.36
gspread==6.2.1
xxhash==3.6.0
spopt==0.7.0
uvloop==0.22.1
tabulate==0.9.0
jeepney==0.9.0
jupyter_server==2.14.0
jieba==0.42.1
proglog==0.1.12
langgraph-prebuilt==1.0.10
flatbuffers==25.12.19
sqlparse==0.5.5
gym-notices==0.1.0
fastcore==1.12.42
googleapis-common-protos==1.74.0
pycryptodomex==3.23.0
grpcio-status==1.71.2
google-cloud-core==2.5.1
lazy-loader==0.5
etils==1.14.0
text-unidecode==1.3
stringzilla==4.6.0
pydantic-settings==2.14.0
ImageIO==2.37.3
google-cloud-bigquery-connection==1.21.0
google-generativeai==0.8.6
pexpect==4.9.0
rsa==4.9.1
google-cloud-spanner==3.65.0
omegaconf==2.3.0
peewee==4.0.5
mmh3==5.2.1
firebase-admin==6.9.0
ipython==7.34.0
Markdown==3.10.2
esda==2.9.0
websockets==15.0.1
spaghetti==1.7.6
nbconvert==7.17.1
sentence-transformers==5.4.1
googledrivedownloader==1.1.0
xarray==2025.12.0
langgraph-sdk==0.3.13
tsfresh==0.21.1
terminado==0.18.1
pandas==2.2.2
sympy==1.14.0
anywidget==0.9.21
bqplot==0.12.45
iniconfig==2.3.0
defusedxml==0.7.1
editdistance==0.8.1
google-pasta==0.2.0
py4j==0.10.9.9
mlxtend==0.23.4
rfc3339-validator==0.1.4
spreg==1.9.0
affine==2.4.0
PyGObject==3.48.2
idna==3.13
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.16
sqlglot==25.20.2
google-genai==1.68.0
ipython-sql==0.5.0
jupyter_server_terminals==0.5.4
jsonschema==4.26.0
confection==1.3.3
geographiclib==2.1
pydantic==2.12.3
miniKanren==1.0.5
ipykernel==6.17.1
tweepy==4.16.0
shapely==2.1.2
Cython==3.0.12
ipython-genutils==0.2.0
xlrd==2.0.2
tbb==2022.3.1
narwhals==2.20.0
jupyter_kernel_gateway==2.5.2
langchain==1.2.15
holoviews==1.22.1
ale-py==0.11.2
GitPython==3.1.47
contourpy==1.3.3
google-cloud-monitoring==2.30.0
traitlets==5.7.1
xarray-einstats==0.10.0
opentelemetry-exporter-otlp-proto-http==1.38.0
sphinxcontrib-devhelp==2.0.0
dill==0.3.8
semantic-version==2.10.0
langsmith==0.7.34
regex==2025.11.3
prometheus_client==0.25.0
pyogrio==0.12.1
google-auth==2.47.0
wandb==0.26.1
tornado==6.5.1
grpc-google-iam-v1==0.14.4
hyperframe==6.1.0
opencv-python-headless==4.13.0.92
segregation==2.5.4
fastdownload==0.0.7
pyparsing==3.3.2
torchsummary==1.5.1
xyzservices==2026.3.0
natsort==8.4.0
colorcet==3.1.0
flax==0.11.2
earthengine-api==1.7.22
opencv-python==4.13.0.92
ml_dtypes==0.5.4
sentencepiece==0.2.1
sklearn-pandas==2.2.0
audioread==3.1.0
strictyaml==1.7.3
roman-numerals==4.1.0
pyroaring==1.0.4
astropy-iers-data==0.2026.4.20.0.58.15
gspread-dataframe==4.0.0
openpyxl==3.1.5
dask==2026.3.0
quantecon==0.11.2
fiona==1.10.1
tensorflow-text==2.20.1
google-cloud-datastore==2.24.0
param==2.3.3
opentelemetry-exporter-gcp-monitoring==1.11.0a0
cloudpathlib==0.23.0
PyWavelets==1.9.0
ipyfilechooser==0.6.0
google-cloud-storage==3.10.1
cyipopt==1.5.0
python-utils==3.9.1
opentelemetry-exporter-gcp-trace==1.11.0
typer-slim==0.24.0
aiohappyeyeballs==2.6.1
google-cloud-translate==3.26.0
jupytext==1.19.1
httplib2==0.31.2
google-cloud-bigtable==2.36.0
cligj==0.7.2
tensorflow==2.20.0
linkify-it-py==2.1.0
Farama-Notifications==0.0.4
Bottleneck==1.4.2
networkx==3.6.1
pyproj==3.7.2
holidays==0.95
openai==2.32.0
tensorflow-probability==0.25.0
giddy==2.3.6
grpclib==0.4.9
keras==3.13.2
pycocotools==2.0.11
CacheControl==0.14.4
argon2-cffi-bindings==25.1.0
locket==1.0.0
matplotlib==3.10.0
rpy2==3.5.17
hdbscan==0.8.42
betterproto==2.0.0b6
accelerate==1.13.0
ormsgpack==1.12.2
branca==0.8.2
pointpats==2.5.5
rich==13.9.4
google-cloud-pubsub==2.37.0
gradio_client==1.14.0
argon2-cffi==25.1.0
parso==0.8.6
PyOpenGL==3.1.10
jaxlib==0.7.2
google==3.0.0
albumentations==2.0.8
requests-toolbelt==1.0.0
kaggle==2.0.2
db-dtypes==1.5.1
beautifulsoup4==4.13.5
pymc==5.28.4
safetensors==0.7.0
cryptography==43.0.3
chardet==5.2.0
pydub==0.25.1
nbformat==5.10.4
scipy==1.16.3
immutabledict==4.3.1
torchdata==0.11.0
jaraco.functools==4.4.0
aiohttp==3.13.5
mapclassify==2.10.0
httptools==0.7.1
jupyter-leaflet==0.20.0
torch==2.10.0+cpu
certifi==2026.4.22
filelock==3.29.0
gradio==5.50.0
numba==0.60.0
libpysal==4.14.1
traittypes==0.2.3
tqdm==4.67.3
toml==0.10.2
stumpy==1.13.0
fqdn==1.5.1
optree==0.19.0
html5lib==1.1
prettytable==3.17.0
spint==1.0.7
yellowbrick==1.5
rfc3987-syntax==1.1.0
pytensor==2.38.2
pandas-stubs==2.2.2.240909
typing-inspection==0.4.2
alabaster==1.0.0
stanio==0.5.1
etuples==0.3.10
gcsfs==2025.3.0
pyspark==4.0.2
torchtune==0.6.1
google-cloud-iam==2.22.0
ffmpy==1.0.0
bleach==6.3.0
opentelemetry-sdk==1.38.0
polars-runtime-32==1.35.2
pyviz_comms==3.0.6
fsspec==2025.3.0
jax==0.7.2
cvxpy==1.6.7
mgwr==2.2.1
libclang==18.1.1
numpy==2.0.2
soundfile==0.13.1
jsonpointer==3.1.1
docutils==0.21.2
torchvision==0.25.0+cpu
pandocfilters==1.5.1
nbclient==0.10.4
snowballstemmer==3.0.1
Flask==3.1.3
music21==9.9.1
einops==0.8.2
tomlkit==0.13.3
sqlalchemy-spanner==1.17.3
safehttpx==0.1.7
jupyter_client==7.4.9
spacy==3.8.14
python-apt==0.0.0
zipp==1.0.0
importlib-metadata==4.6.4
more-itertools==8.10.0
keyring==23.5.0
PyGObject==3.42.1
oauthlib==3.2.0
httplib2==0.20.2
PyJWT==2.3.0
python-apt==2.4.0+ubuntu4.1
jeepney==0.7.1
distro==1.7.0
six==1.16.0
lazr.uri==1.0.6
lazr.restfulclient==0.14.4
blinker==1.4
pyparsing==2.4.7
SecretStorage==3.3.1
dbus-python==1.2.18
wadllib==1.3.6
cryptography==3.4.8
launchpadlib==1.10.16
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
tomli==2.0.1
importlib_resources==6.4.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
zipp==3.19.2
jaraco.collections==5.1.0
platformdirs==4.2.2
typing_extensions==4.12.2
jaraco.text==3.12.1
importlib_metadata==8.0.0
wheel==0.43.0
typeguard==4.3.0
jaraco.context==5.3.0
packaging==24.1
jaraco.functools==4.0.1
more-itertools==10.3.0
