setuptools==75.2.0
requirements-parser==0.9.0
types-setuptools==80.9.0.20251223
pip==24.1.2
google-colab==1.0.0
eerepr==0.1.2
mapclassify==2.10.0
atpublic==5.1
miniKanren==1.0.5
ml_dtypes==0.5.4
python-louvain==0.16
omegaconf==2.3.0
sklearn-compat==0.1.5
gspread==6.2.1
ratelim==0.1.6
google-cloud-bigquery-connection==1.20.0
catalogue==2.0.10
spaghetti==1.7.6
google-api-python-client==2.190.0
mcp==1.26.0
google==3.0.0
opencv-python==4.13.0.92
fsspec==2025.3.0
soupsieve==2.8.3
Mako==1.3.10
threadpoolctl==3.6.0
sphinxcontrib-htmlhelp==2.1.0
langchain==1.2.10
imagesize==1.4.1
inflect==7.5.0
future==1.0.0
libclang==18.1.1
python-slugify==8.0.4
types-pytz==2025.2.0.20251108
sentence-transformers==5.2.3
multitasking==0.0.12
pyOpenSSL==24.2.1
more-itertools==10.8.0
spreg==1.8.5
absl-py==1.4.0
httpcore==1.0.9
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-qthelp==2.0.0
slicer==0.0.8
pyshp==3.0.3
earthengine-api==1.5.24
tbb==2022.3.1
ImageIO==2.37.2
tinycss2==1.4.0
pytensor==2.38.0
CacheControl==0.14.4
roman-numerals==4.1.0
jupyter_server==2.14.0
logical-unification==0.4.7
sse-starlette==3.2.0
google-cloud-aiplatform==1.138.0
keyrings.google-artifactregistry-auth==1.1.2
tensorstore==0.1.81
tf_keras==2.19.0
google-resumable-media==2.8.0
GDAL==3.8.4
google-cloud-resource-manager==1.16.0
splot==1.1.7
soxr==1.0.0
PyOpenGL==3.1.10
narwhals==2.17.0
pyarrow==18.1.0
tobler==0.13.0
langgraph==1.0.9
anywidget==0.9.21
rich==13.9.4
plotly==5.24.1
progressbar2==4.5.0
beartype==0.22.9
etils==1.13.0
zipp==3.23.0
editdistance==0.8.1
tzdata==2025.3
PuLP==3.3.0
opentelemetry-proto==1.38.0
parso==0.8.6
jupyter-events==0.12.0
pillow==11.3.0
backcall==0.2.0
keras-nlp==0.21.1
esda==2.8.1
fastlite==0.2.4
tokenizers==0.22.2
simplejson==3.20.2
pysal==25.7
holoviews==1.22.1
google-cloud-secret-manager==2.26.0
peft==0.18.1
Jinja2==3.1.6
tcmlib==1.4.1
dm-tree==0.1.9
torch==2.10.0+cpu
httpx-sse==0.4.3
google-cloud-functions==1.22.0
imbalanced-learn==0.14.1
mgwr==2.2.1
cons==0.4.7
snowballstemmer==3.0.1
tifffile==2026.2.20
python-json-logger==4.0.0
joblib==1.5.3
pickleshare==0.7.5
google-genai==1.64.0
preshed==3.0.12
pyspark==4.0.2
googledrivedownloader==1.1.0
datasets==4.0.0
rfc3986-validator==0.1.1
argon2-cffi-bindings==25.1.0
fastdownload==0.0.7
itsdangerous==2.2.0
tsfresh==0.21.1
jeepney==0.9.0
markdown-it-py==4.0.0
opentelemetry-exporter-gcp-trace==1.11.0
pycairo==1.29.0
attrs==25.4.0
ormsgpack==1.12.2
watchfiles==1.1.1
langgraph-checkpoint==4.0.0
ndindex==1.10.1
GitPython==3.1.46
xarray==2025.12.0
pandas==2.2.2
pydantic_core==2.41.4
wheel==0.46.3
plotnine==0.14.5
Bottleneck==1.4.2
keras-hub==0.21.1
grpcio-status==1.71.2
smart_open==7.5.1
msgpack==1.1.2
notebook_shim==0.2.4
scikit-learn==1.6.1
spanner-graph-notebook==1.1.8
onemkl-license==2025.3.1
langgraph-sdk==0.3.9
anyio==4.12.1
rtree==1.4.1
pyogrio==0.12.1
tensorboard==2.19.0
iniconfig==2.3.0
scipy==1.16.3
blobfile==3.2.0
geographiclib==2.1
wrapt==2.1.1
pydot==4.0.1
google-cloud-appengine-logging==1.8.0
fastai==2.8.7
pycryptodomex==3.23.0
astropy-iers-data==0.2026.2.23.0.48.33
google-cloud-trace==1.18.0
gym-notices==0.1.0
blis==1.3.3
beautifulsoup4==4.13.5
hyperframe==6.1.0
mlxtend==0.23.4
grpclib==0.4.9
scooby==0.11.0
tzlocal==5.3.1
cycler==0.12.1
termcolor==3.3.0
dopamine_rl==4.1.2
intel-openmp==2025.3.2
jsonpickle==4.1.1
gspread-dataframe==4.0.0
python-dateutil==2.9.0.post0
platformdirs==4.9.2
openpyxl==3.1.5
bigquery-magics==0.10.3
kaggle==1.7.4.5
google-cloud-bigtable==2.35.0
tiktoken==0.12.0
branca==0.8.2
locket==1.0.0
protobuf==5.29.6
oauthlib==3.3.1
rfc3987-syntax==1.1.0
annotated-doc==0.0.4
sphinxcontrib-jsmath==1.0.1
xxhash==3.6.0
matplotlib-inline==0.2.1
gradio==5.50.0
ipyleaflet==0.20.0
tensorboard-data-server==0.7.2
packaging==26.0
affine==2.4.0
google-cloud-spanner==3.63.0
frozendict==2.4.7
spacy-legacy==3.0.12
uvloop==0.22.1
panel==1.8.7
jsonpatch==1.33
pandocfilters==1.5.1
multiprocess==0.70.16
ibis-framework==9.5.0
stanio==0.5.1
db-dtypes==1.5.0
soundfile==0.13.1
PySocks==1.7.1
ptyprocess==0.7.0
dask==2026.1.2
fasttransform==0.0.2
spacy-loggers==1.0.5
giddy==2.3.8
arviz==0.22.0
murmurhash==1.0.15
typeguard==4.5.1
yellowbrick==1.5
tensorflow-hub==0.16.1
opentelemetry-semantic-conventions==0.59b0
geemap==0.35.3
cmake==3.31.10
python-snappy==0.7.3
proglog==0.1.12
optax==0.2.7
geopandas==1.1.2
fiona==1.10.1
nibabel==5.3.3
google-cloud-bigquery-storage==2.36.2
nbclassic==1.3.3
typer-slim==0.24.0
opentelemetry-exporter-gcp-logging==1.11.0a0
confection==0.1.5
ale-py==0.11.2
torchcodec==0.10.0
entrypoints==0.4
cvxopt==1.3.2
fastapi==0.133.0
nbclient==0.10.4
kagglehub==0.3.13
decorator==4.4.2
natsort==8.4.0
jaxlib==0.7.2
httplib2==0.31.2
webcolors==25.10.0
ruff==0.15.2
nest-asyncio==1.6.0
immutabledict==4.3.1
grpc-google-iam-v1==0.14.3
pydotplus==2.0.2
h5netcdf==1.8.1
fonttools==4.61.1
statsmodels==0.14.6
groovy==0.1.2
ipyfilechooser==0.6.0
glob2==0.7
polars-runtime-32==1.35.2
cloudpathlib==0.23.0
opentelemetry-exporter-gcp-monitoring==1.11.0a0
intel-cmplr-lib-ur==2025.3.2
pandas-stubs==2.2.2.240909
imutils==0.5.4
Markdown==3.10.2
tensorflow_decision_forests==1.12.0
nbformat==5.10.4
gymnasium==1.2.3
geocoder==1.38.1
google-cloud-translate==3.24.0
grpcio==1.78.1
shellingham==1.5.4
shapely==2.1.2
alabaster==1.0.0
greenlet==3.3.2
missingno==0.5.2
graphviz==0.21
regex==2025.11.3
distro==1.9.0
cymem==2.0.13
idna==3.11
pointpats==2.5.5
promise==2.3
einops==0.8.2
lark==1.3.1
pyzmq==26.2.1
music21==9.9.1
traitlets==5.7.1
google-cloud-firestore==2.23.0
pygame==2.6.1
seaborn==0.13.2
mmh3==5.2.0
uc-micro-py==1.0.3
chardet==5.2.0
ipywidgets==7.7.1
dlib==19.24.6
certifi==2026.1.4
mdurl==0.1.2
langchain-core==1.2.15
portpicker==1.5.2
pydantic-settings==2.13.1
moviepy==1.0.3
torchtune==0.6.1
Cython==3.0.12
safetensors==0.7.0
orjson==3.11.7
simple-parsing==0.1.8
jupyterlab_pygments==0.3.0
holidays==0.91
Send2Trash==2.1.0
prophet==1.3.0
tensorflow-probability==0.25.0
sentry-sdk==2.53.0
traittypes==0.2.3
jaraco.classes==3.4.0
nbconvert==7.17.0
opentelemetry-exporter-otlp-proto-http==1.38.0
annotated-types==0.7.0
uuid_utils==0.14.1
oauth2client==4.1.3
babel==2.18.0
treescope==0.1.10
cmdstanpy==1.3.0
sqlparse==0.5.5
importlib_metadata==8.7.1
googleapis-common-protos==1.72.0
jupyter_core==5.9.1
zstandard==0.25.0
requests-oauthlib==2.0.0
transformers==5.0.0
osqp==1.1.1
deprecation==2.1.0
google-auth==2.47.0
websockets==15.0.1
frozenlist==1.8.0
websocket-client==1.9.0
py4j==0.10.9.9
opt_einsum==3.4.0
umf==1.0.3
google-adk==1.25.1
timm==1.0.25
opentelemetry-resourcedetector-gcp==1.11.0a0
typing_extensions==4.15.0
jupyterlab_widgets==3.0.16
access==1.1.10.post3
jax==0.7.2
albucore==0.0.24
nvidia-nccl-cu12==2.29.3
tensorflow-datasets==4.9.9
mpmath==1.3.0
scikit-image==0.25.2
pytest==8.4.2
aiosqlite==0.22.1
fqdn==1.5.1
hpack==4.1.0
google-auth-httplib2==0.3.0
folium==0.20.0
docutils==0.21.2
tensorflow-metadata==1.17.3
autograd==1.8.0
PyWavelets==1.9.0
wandb==0.25.0
h11==0.16.0
google-cloud-logging==3.13.0
apswutils==0.1.2
jieba==0.42.1
kiwisolver==1.4.9
tensorflow==2.19.0
google-cloud-discoveryengine==0.13.12
mkl==2025.3.1
contourpy==1.3.3
quantecon==0.11.0
altair==5.5.0
toolz==0.12.1
pyviz_comms==3.0.6
pydub==0.25.1
spacy==3.8.11
pyomo==6.10.0
h2==4.3.0
simsimd==6.5.13
ipyevents==2.0.4
astropy==7.2.0
langsmith==0.7.6
pyerfa==2.0.1.5
bleach==6.3.0
rpds-py==0.30.0
pycocotools==2.0.11
cligj==0.7.2
google-auth-oauthlib==1.2.4
cloudpickle==3.1.2
hf-xet==1.3.0
stumpy==1.13.0
python-box==7.4.1
requests-toolbelt==1.0.0
xyzservices==2025.11.0
google-cloud-iam==2.21.0
rpy2==3.5.17
toml==0.10.2
xgboost==3.2.0
safehttpx==0.1.7
flax==0.11.2
nltk==3.9.1
py-cpuinfo==9.0.0
typing-inspection==0.4.2
pexpect==4.9.0
torchvision==0.25.0+cpu
brotli==1.2.0
curl_cffi==0.14.0
grpc-interceptor==0.15.4
click==8.3.1
urllib3==2.5.0
Authlib==1.6.8
albumentations==2.0.8
jsonschema-specifications==2025.9.1
opentelemetry-exporter-otlp-proto-common==1.38.0
terminado==0.18.1
peewee==4.0.0
matplotlib==3.10.0
patsy==1.0.2
jaraco.context==6.1.0
colorcet==3.1.0
optree==0.19.0
jupyter_kernel_gateway==2.5.2
tenacity==9.1.4
SQLAlchemy==2.0.47
PyDrive2==1.21.3
pymc==5.28.0
et_xmlfile==2.0.0
opencv-python-headless==4.13.0.92
pandas-gbq==0.30.0
html5lib==1.1
ipyparallel==8.8.0
sklearn-pandas==2.2.0
sphinxcontrib-serializinghtml==2.0.0
dataproc-spark-connect==1.0.2
httpimport==1.4.1
lazy_loader==0.4
google-api-core==2.30.0
geopy==2.4.1
cachetools==6.2.6
spglm==1.1.0
openai==2.23.0
alembic==1.18.4
torchdata==0.11.0
python-utils==3.9.1
tomlkit==0.13.3
aiohappyeyeballs==2.6.1
gin-config==0.5.0
accelerate==1.12.0
argon2-cffi==25.1.0
thinc==8.3.10
ffmpy==1.0.0
stringzilla==4.6.0
google-cloud-pubsub==2.35.0
parsy==2.2
gdown==5.2.1
Werkzeug==3.1.6
betterproto==2.0.0b6
pycparser==3.0
yarl==1.22.0
tweepy==4.16.0
highspy==1.13.1
jupyter_server_terminals==0.5.4
duckdb==1.3.2
google-cloud-language==2.19.0
spint==1.0.7
notebook==6.5.7
tensorflow-text==2.19.0
opentelemetry-api==1.38.0
pyparsing==3.3.2
aiohttp==3.13.3
torchsummary==1.5.1
fastcore==1.12.16
spopt==0.7.0
tf-slim==1.1.0
cffi==2.0.0
fastjsonschema==2.21.2
networkx==3.6.1
jsonschema==4.26.0
text-unidecode==1.3
google-crc32c==1.8.0
docstring_parser==0.17.0
llvmlite==0.43.0
sentencepiece==0.2.1
gitdb==4.0.12
humanize==4.15.0
grain==0.2.15
httpx==0.28.1
click-plugins==1.1.1.2
fastprogress==1.1.5
umap-learn==0.5.11
mistune==3.2.0
prettytable==3.17.0
bokeh==3.8.2
librosa==0.11.0
keras==3.10.0
PyJWT==2.11.0
opentelemetry-sdk==1.38.0
watchdog==6.0.0
orbax-checkpoint==0.11.33
tqdm==4.67.3
aiosignal==1.4.0
cramjam==2.11.0
pluggy==1.6.0
h5py==3.15.1
google-cloud-core==2.5.0
google-cloud-datastore==2.23.0
sqlalchemy-spanner==1.17.2
webencodings==0.5.1
Sphinx==8.2.3
en_core_web_sm==3.8.0
numexpr==2.14.1
jiter==0.13.0
tables==3.10.2
diffusers==0.36.0
google-pasta==0.2.0
pooch==1.9.0
overrides==7.7.0
MarkupSafe==3.0.3
multipledispatch==1.0.0
pyasn1==0.6.2
audioread==3.1.0
wurlitzer==3.1.1
pydata-google-auth==1.9.1
referencing==0.37.0
cyipopt==1.5.0
tornado==6.5.1
prometheus_client==0.24.1
shap==0.50.0
Flask==3.1.3
opencv-contrib-python==4.13.0.92
plum-dispatch==2.7.1
psycopg2==2.9.11
flatbuffers==25.12.19
PyYAML==6.0.3
vega-datasets==0.9.0
gast==0.7.0
isoduration==20.11.0
namex==0.1.0
psygnal==0.15.1
momepy==0.11.0
pyperclip==1.11.0
sympy==1.14.0
langgraph-prebuilt==1.0.8
sniffio==1.3.1
wcwidth==0.6.0
aiofiles==24.1.0
proto-plus==1.27.1
wordcloud==1.9.6
colorlover==0.3.0
debugpy==1.8.15
ipython-sql==0.5.0
yfinance==0.2.66
segregation==2.5.3
hdbscan==0.8.41
filelock==3.24.3
defusedxml==0.7.1
google-cloud-monitoring==2.29.1
ydf==0.15.0
colour==0.1.5
weasel==0.4.3
arrow==1.4.0
ipykernel==6.17.1
python-dotenv==1.2.1
partd==1.4.2
numba==0.60.0
scs==3.2.11
huggingface_hub==1.4.1
mdit-py-plugins==0.5.0
propcache==0.4.1
google-cloud-dataproc==5.25.0
pygit2==1.19.1
srsly==2.5.2
ipytree==0.2.2
textblob==0.19.0
cryptography==43.0.3
rfc3339-validator==0.1.4
uritemplate==4.2.0
linkify-it-py==2.0.3
rasterstats==0.20.0
importlib_resources==6.5.2
ipython-genutils==0.2.0
uvicorn==0.41.0
bigframes==2.35.0
firebase-admin==6.9.0
clarabel==0.11.1
bqplot==0.12.45
smmap==5.0.2
gym==0.25.2
google-ai-generativelanguage==0.6.15
six==1.17.0
sphinxcontrib-devhelp==2.0.0
gcsfs==2025.3.0
google-cloud-audit-log==0.4.0
matplotlib-venn==1.1.2
pyproj==3.7.2
numpy==2.0.2
keyring==25.7.0
google-generativeai==0.8.6
google-cloud-speech==2.36.1
rasterio==1.5.0
xarray-einstats==0.10.0
polars==1.35.2
inequality==1.1.2
requests==2.32.4
cvxpy==1.6.7
jsonpointer==3.0.0
cufflinks==0.17.3
antlr4-python3-runtime==4.9.3
jupyter-console==6.6.3
dill==0.3.8
starlette==0.52.1
libpysal==4.14.1
wasabi==1.1.3
ipython==7.34.0
lightgbm==4.6.0
google-cloud-bigquery==3.40.1
gradio_client==1.14.0
httptools==0.7.1
etuples==0.3.10
torchao==0.10.0
jupyter_client==7.4.9
community==1.0.0b1
typer==0.24.1
Pygments==2.19.2
blosc2==4.0.0
mizani==0.13.5
pydantic==2.12.3
xlrd==2.0.2
pynndescent==0.6.0
jupyter-leaflet==0.20.0
PyGObject==3.48.2
apsw==3.51.2.0
multidict==6.7.1
python-fasthtml==0.12.47
blinker==1.9.0
semantic-version==2.10.0
jaraco.functools==4.4.0
google-cloud-storage==3.9.0
roman-numerals-py==4.1.0
python-multipart==0.0.22
sqlglot==25.20.2
array_record==0.8.3
Farama-Notifications==0.0.4
pyasn1_modules==0.4.2
psutil==5.9.5
easydict==1.13
param==2.3.2
lxml==6.0.2
astunparse==1.6.3
widgetsnbextension==3.6.10
prompt_toolkit==3.0.52
tabulate==0.9.0
pandas-datareader==0.10.0
rsa==4.9.1
imageio-ffmpeg==0.6.0
SecretStorage==3.5.0
hyperopt==0.2.7
jupytext==1.19.1
uri-template==1.3.0
torchaudio==2.10.0+cpu
pytz==2025.2
charset-normalizer==3.4.4
python-apt==0.0.0
SecretStorage==3.3.1
six==1.16.0
zipp==1.0.0
keyring==23.5.0
more-itertools==8.10.0
pyparsing==2.4.7
PyJWT==2.3.0
wadllib==1.3.6
httplib2==0.20.2
dbus-python==1.2.18
PyGObject==3.42.1
distro==1.7.0
cryptography==3.4.8
oauthlib==3.2.0
launchpadlib==1.10.16
jeepney==0.7.1
lazr.restfulclient==0.14.4
python-apt==2.4.0+ubuntu4.1
importlib-metadata==4.6.4
lazr.uri==1.0.6
blinker==1.4
Markdown==3.3.6
Mako==1.1.3
MarkupSafe==2.0.1
zipp==3.19.2
jaraco.functools==4.0.1
autocommand==2.2.2
typing_extensions==4.12.2
platformdirs==4.2.2
typeguard==4.3.0
jaraco.context==5.3.0
wheel==0.43.0
importlib_resources==6.4.0
jaraco.text==3.12.1
more-itertools==10.3.0
tomli==2.0.1
importlib_metadata==8.0.0
packaging==24.1
backports.tarfile==1.2.0
inflect==7.3.1
jaraco.collections==5.1.0
