types-setuptools==82.0.0.20260210
requirements-parser==0.9.0
setuptools==75.2.0
pip==24.1.2
google-colab==1.0.0
oauth2client==4.1.3
Werkzeug==3.1.6
hf-xet==1.4.2
Mako==1.3.10
httpimport==1.4.1
affine==2.4.0
soupsieve==2.8.3
typeguard==4.5.1
albucore==0.0.24
einops==0.8.2
apsw==3.51.3.0
opentelemetry-semantic-conventions==0.59b0
psycopg2==2.9.11
py-cpuinfo==9.0.0
tensorboard-data-server==0.7.2
matplotlib-inline==0.2.1
webencodings==0.5.1
click==8.3.1
tensorstore==0.1.82
blinker==1.9.0
pooch==1.9.0
ratelim==0.1.6
yellowbrick==1.5
python-dotenv==1.2.2
tf_keras==2.19.0
tbb==2022.3.1
aiosqlite==0.22.1
google-pasta==0.2.0
decorator==4.4.2
google-generativeai==0.8.6
opentelemetry-resourcedetector-gcp==1.11.0a0
music21==9.9.1
stringzilla==4.6.0
anyio==4.12.1
tiktoken==0.12.0
bigframes==2.38.0
referencing==0.37.0
jaraco.functools==4.4.0
fastlite==0.2.4
langgraph-checkpoint==4.0.1
pydotplus==2.0.2
pydantic_core==2.41.4
weasel==0.4.3
Authlib==1.6.9
statsmodels==0.14.6
python-json-logger==4.0.0
typing_extensions==4.15.0
jsonpointer==3.0.0
imbalanced-learn==0.14.1
audioread==3.1.0
google-cloud-resource-manager==1.16.0
namex==0.1.0
curl_cffi==0.14.0
typer-slim==0.24.0
nibabel==5.4.2
sentencepiece==0.2.1
Flask==3.1.3
tzdata==2025.3
pandas-gbq==0.30.0
google-api-core==2.30.0
etils==1.14.0
semantic-version==2.10.0
bleach==6.3.0
peft==0.18.1
sphinxcontrib-serializinghtml==2.0.0
MarkupSafe==3.0.3
sphinxcontrib-applehelp==2.0.0
orjson==3.11.7
tinycss2==1.4.0
tzlocal==5.3.1
fastjsonschema==2.21.2
pyzmq==26.2.1
jupyter-leaflet==0.20.0
tables==3.10.2
jupyter-console==6.6.3
wordcloud==1.9.6
google-cloud-core==2.5.0
simple-parsing==0.1.8
PyJWT==2.12.1
pyasn1_modules==0.4.2
regex==2025.11.3
colorcet==3.1.0
soundfile==0.13.1
omegaconf==2.3.0
typing-inspection==0.4.2
filelock==3.25.2
google-cloud-dataplex==2.16.0
cloudpathlib==0.23.0
humanize==4.15.0
portpicker==1.5.2
langgraph-sdk==0.3.11
stanio==0.5.1
traitlets==5.7.1
distro==1.9.0
cmdstanpy==1.3.0
gitdb==4.0.12
docutils==0.21.2
rich==13.9.4
vega-datasets==0.9.0
timm==1.0.25
jupytext==1.19.1
intel-openmp==2025.3.2
yarl==1.23.0
yfinance==0.2.66
torchtune==0.6.1
cryptography==43.0.3
google-adk==1.27.1
branca==0.8.2
libclang==18.1.1
gym-notices==0.1.0
py4j==0.10.9.9
uritemplate==4.2.0
astropy-iers-data==0.2026.3.16.0.53.33
plum-dispatch==2.7.1
PyYAML==6.0.3
jaraco.context==6.1.1
graphviz==0.21
altair==5.5.0
kagglesdk==0.1.16
spacy==3.8.11
flax==0.11.2
mcp==1.26.0
pyOpenSSL==24.2.1
fasttransform==0.0.2
moviepy==1.0.3
requests-toolbelt==1.0.0
dill==0.3.8
jsonpatch==1.33
entrypoints==0.4
imagesize==2.0.0
spacy-loggers==1.0.5
opencv-contrib-python==4.13.0.92
googledrivedownloader==1.1.0
optree==0.19.0
annotated-doc==0.0.4
highspy==1.13.1
google-cloud-trace==1.18.0
keras-nlp==0.26.0
rfc3987-syntax==1.1.0
uvicorn==0.42.0
cligj==0.7.2
jaraco.classes==3.4.0
google-cloud-discoveryengine==0.13.12
jupyterlab_pygments==0.3.0
tensorflow_decision_forests==1.12.0
sphinxcontrib-devhelp==2.0.0
imageio-ffmpeg==0.6.0
webcolors==25.10.0
bqplot==0.12.45
wandb==0.25.1
librosa==0.11.0
polars==1.35.2
python-dateutil==2.9.0.post0
six==1.17.0
google-cloud-translate==3.24.0
torchvision==0.25.0+cpu
langchain==1.2.12
ormsgpack==1.12.2
dataproc-spark-connect==1.0.2
pytensor==2.38.2
fiona==1.10.1
pandas-datareader==0.10.0
babel==2.18.0
opentelemetry-sdk==1.38.0
ffmpy==1.0.0
httptools==0.7.1
datasets==4.0.0
spglm==1.1.0
mpmath==1.3.0
giddy==2.3.8
oauthlib==3.3.1
CacheControl==0.14.4
google-resumable-media==2.8.0
segregation==2.5.3
zipp==3.23.0
tensorflow-probability==0.25.0
jsonpickle==4.1.1
tensorflow-text==2.19.0
h5netcdf==1.8.1
jupyter_server_terminals==0.5.4
wasabi==1.1.3
pydata-google-auth==1.9.1
googleapis-common-protos==1.73.0
libpysal==4.14.1
kaggle==2.0.0
pexpect==4.9.0
lazy-loader==0.5
pyparsing==3.3.2
watchdog==6.0.0
jieba==0.42.1
sqlparse==0.5.5
opencv-python==4.13.0.92
confection==0.1.5
fsspec==2025.3.0
tensorboard==2.19.0
spint==1.0.7
numba==0.60.0
rpds-py==0.30.0
gast==0.7.0
Send2Trash==2.1.0
geopy==2.4.1
PyWavelets==1.9.0
stumpy==1.13.0
google-crc32c==1.8.0
thinc==8.3.10
tf-slim==1.1.0
google-cloud-audit-log==0.4.0
zstandard==0.25.0
promise==2.3
pyerfa==2.0.1.5
pysal==25.7
google-ai-generativelanguage==0.6.15
lxml==6.0.2
srsly==2.5.2
lark==1.3.1
prometheus_client==0.24.1
defusedxml==0.7.1
cufflinks==0.17.3
google-cloud-aiplatform==1.141.0
joblib==1.5.3
colour==0.1.5
pyviz_comms==3.0.6
annotated-types==0.7.0
opentelemetry-exporter-gcp-logging==1.11.0a0
threadpoolctl==3.6.0
html5lib==1.1
smart_open==7.5.1
grpc-google-iam-v1==0.14.3
xarray==2025.12.0
pycairo==1.29.0
pycocotools==2.0.11
Markdown==3.10.2
google-api-python-client==2.192.0
pyiceberg==0.11.1
seaborn==0.13.2
ale-py==0.11.2
tornado==6.5.1
sphinxcontrib-jsmath==1.0.1
attrs==25.4.0
keyrings.google-artifactregistry-auth==1.1.2
wurlitzer==3.1.1
pydantic==2.12.3
h11==0.16.0
hpack==4.1.0
uc-micro-py==2.0.0
alabaster==1.0.0
sqlalchemy-spanner==1.17.2
strictyaml==1.7.3
eerepr==0.1.2
pygame==2.6.1
sphinxcontrib-qthelp==2.0.0
ImageIO==2.37.3
more-itertools==10.8.0
sentence-transformers==5.3.0
etuples==0.3.10
matplotlib-venn==1.1.2
blobfile==3.2.0
debugpy==1.8.15
kiwisolver==1.5.0
grpcio-status==1.71.2
jsonschema-specifications==2025.9.1
iniconfig==2.3.0
hyperframe==6.1.0
Cython==3.0.12
mmh3==5.2.1
pillow==11.3.0
grpclib==0.4.9
contourpy==1.3.3
multiprocess==0.70.16
dask==2026.1.2
parso==0.8.6
orbax-checkpoint==0.11.33
ipyparallel==8.8.0
fastprogress==1.1.5
torchsummary==1.5.1
optax==0.2.7
deprecation==2.1.0
PySocks==1.7.1
xxhash==3.6.0
pytz==2025.2
osqp==1.1.1
python-utils==3.9.1
pandas==2.2.2
xgboost==3.2.0
pycryptodomex==3.23.0
albumentations==2.0.8
websockets==15.0.1
langchain-core==1.2.19
jupyter_server==2.14.0
nbformat==5.10.4
cmake==3.31.10
gspread==6.2.1
pluggy==1.6.0
huggingface_hub==1.7.1
pydot==4.0.1
docstring_parser==0.17.0
clarabel==0.11.1
opentelemetry-proto==1.38.0
python-snappy==0.7.3
widgetsnbextension==3.6.10
tobler==0.13.0
mistune==3.2.0
brotli==1.2.0
locket==1.0.0
GDAL==3.8.4
torch==2.10.0+cpu
langgraph-prebuilt==1.0.8
glob2==0.7
cloudpickle==3.1.2
websocket-client==1.9.0
google-cloud-appengine-logging==1.8.0
tokenizers==0.22.2
pandocfilters==1.5.1
matplotlib==3.10.0
mapclassify==2.10.0
diffusers==0.37.0
aiohttp==3.13.3
mlxtend==0.23.4
torchao==0.10.0
anywidget==0.9.21
gdown==5.2.1
nltk==3.9.1
autograd==1.8.0
itsdangerous==2.2.0
GitPython==3.1.46
rfc3339-validator==0.1.4
cvxopt==1.3.2
fastdownload==0.0.7
momepy==0.11.0
easydict==1.13
terminado==0.18.1
param==2.3.2
sentry-sdk==2.54.0
xarray-einstats==0.10.0
rasterio==1.5.0
python-slugify==8.0.4
certifi==2026.2.25
folium==0.20.0
dopamine_rl==4.1.2
gymnasium==1.2.3
jupyter_client==7.4.9
fastcore==1.12.26
google-cloud-bigquery==3.40.1
pytest==8.4.2
Bottleneck==1.4.2
ndindex==1.10.1
nvidia-nccl-cu12==2.29.7
opentelemetry-exporter-otlp-proto-common==1.38.0
hdbscan==0.8.41
isoduration==20.11.0
scikit-image==0.25.2
numpy==2.0.2
spanner-graph-notebook==1.1.8
esda==2.8.2
quantecon==0.11.1
flatbuffers==25.12.19
google-cloud-firestore==2.25.0
transformers==5.0.0
keras-hub==0.26.0
python-multipart==0.0.22
torchcodec==0.10.0
bigquery-magics==0.10.3
importlib_resources==6.5.2
prophet==1.3.0
wheel==0.46.3
google-cloud-bigquery-connection==1.20.0
holoviews==1.22.1
jeepney==0.9.0
uvloop==0.22.1
nbconvert==7.17.0
cymem==2.0.13
fonttools==4.62.1
click-plugins==1.1.1.2
google-cloud-pubsub==2.36.0
aiohappyeyeballs==2.6.1
gym==0.25.2
hyperopt==0.2.7
charset-normalizer==3.4.6
PyGObject==3.48.2
pyasn1==0.6.3
textblob==0.19.0
bokeh==3.8.2
mizani==0.13.5
shellingham==1.5.4
python-fasthtml==0.12.50
ipykernel==6.17.1
grain==0.2.16
smmap==5.0.3
traittypes==0.2.3
spaghetti==1.7.6
google==3.0.0
toml==0.10.2
logical-unification==0.4.7
kagglehub==1.0.0
tensorflow-datasets==4.9.9
opentelemetry-api==1.38.0
ydf==0.15.0
numexpr==2.14.1
uuid_utils==0.14.1
fastai==2.8.7
msgpack==1.1.2
natsort==8.4.0
frozendict==2.4.7
types-pytz==2026.1.1.20260304
chardet==5.2.0
prompt_toolkit==3.0.52
pyogrio==0.12.1
safehttpx==0.1.7
packaging==26.0
requests==2.32.4
ipywidgets==7.7.1
splot==1.1.7
jsonschema==4.26.0
soxr==1.0.0
gradio==5.50.0
cons==0.4.7
httpcore==1.0.9
en_core_web_sm==3.8.0
duckdb==1.3.2
pycparser==3.0
parsy==2.2
pydantic-settings==2.13.1
opentelemetry-exporter-gcp-monitoring==1.11.0a0
plotly==5.24.1
treescope==0.1.10
tabulate==0.9.0
future==1.0.0
community==1.0.0b1
array_record==0.8.3
requests-oauthlib==2.0.0
multidict==6.7.1
ibis-framework==9.5.0
peewee==4.0.2
openpyxl==3.1.5
google-cloud-bigquery-storage==2.36.2
firebase-admin==6.9.0
nest-asyncio==1.6.0
google-auth-httplib2==0.3.0
pyproj==3.7.2
rasterstats==0.20.0
betterproto==2.0.0b6
google-cloud-language==2.19.0
pydub==0.25.1
geocoder==1.38.1
ipython==7.34.0
fastapi==0.135.1
astunparse==1.6.3
access==1.1.10.post3
gspread-dataframe==4.0.0
Jinja2==3.1.6
groovy==0.1.2
arrow==1.4.0
tomlkit==0.13.3
prettytable==3.17.0
xlrd==2.0.2
nbclient==0.10.4
pyomo==6.10.0
markdown-it-py==4.0.0
termcolor==3.3.0
cramjam==2.11.0
opentelemetry-exporter-otlp-proto-http==1.38.0
httpx==0.28.1
backcall==0.2.0
pickleshare==0.7.5
ml_dtypes==0.5.4
roman-numerals-py==4.1.0
wcwidth==0.6.0
astropy==7.2.0
umap-learn==0.5.11
psutil==5.9.5
google-genai==1.67.0
torchdata==0.11.0
miniKanren==1.0.5
PyOpenGL==3.1.10
mdurl==0.1.2
python-box==7.4.1
mdit-py-plugins==0.5.0
pyshp==3.0.3
mkl==2025.3.1
torchaudio==2.10.0+cpu
networkx==3.6.1
blosc2==4.1.2
pyspark==4.0.2
preshed==3.0.12
langsmith==0.7.18
python-louvain==0.16
scikit-learn==1.6.1
immutabledict==4.3.1
xyzservices==2025.11.0
tcmlib==1.4.1
accelerate==1.13.0
typer==0.24.1
sphinxcontrib-htmlhelp==2.1.0
sqlglot==25.20.2
progressbar2==4.5.0
google-cloud-monitoring==2.29.1
google-auth==2.47.0
pyroaring==1.0.3
holidays==0.93
grpcio==1.78.0
tensorflow-metadata==1.17.3
notebook_shim==0.2.4
rfc3986-validator==0.1.1
importlib_metadata==8.7.1
tifffile==2026.3.3
tenacity==9.1.4
google-cloud-storage==3.9.0
geemap==0.35.3
spopt==0.7.0
aiofiles==24.1.0
google-cloud-secret-manager==2.26.0
argon2-cffi==25.1.0
PyDrive2==1.21.3
google-cloud-speech==2.37.0
platformdirs==4.9.4
narwhals==2.18.0
tqdm==4.67.3
SQLAlchemy==2.0.48
et_xmlfile==2.0.0
sklearn-pandas==2.2.0
colorlover==0.3.0
catalogue==2.0.10
ptyprocess==0.7.0
idna==3.11
jupyter-events==0.12.0
google-cloud-spanner==3.63.0
google-cloud-functions==1.22.0
geopandas==1.1.3
rpy2==3.5.17
db-dtypes==1.5.0
pointpats==2.5.5
dm-tree==0.1.9
spreg==1.8.5
google-cloud-iam==2.21.0
openai==2.28.0
google-cloud-dataproc==5.25.0
arviz==0.22.0
greenlet==3.3.2
llvmlite==0.43.0
earthengine-api==1.5.24
slicer==0.0.8
google-cloud-logging==3.14.0
jaxlib==0.7.2
imutils==0.5.4
argon2-cffi-bindings==25.1.0
dlib==19.24.6
tensorflow-hub==0.16.1
pyperclip==1.11.0
antlr4-python3-runtime==4.9.3
gcsfs==2025.3.0
gradio_client==1.14.0
protobuf==5.29.6
atpublic==5.1
jupyterlab_widgets==3.0.16
roman-numerals==4.1.0
cffi==2.0.0
fqdn==1.5.1
partd==1.4.2
beartype==0.22.9
opt_einsum==3.4.0
ipytree==0.2.2
apswutils==0.1.2
Sphinx==8.2.3
overrides==7.7.0
tsfresh==0.21.1
umf==1.0.3
sniffio==1.3.1
spacy-legacy==3.0.12
jupyter_kernel_gateway==2.5.2
grpc-interceptor==0.15.4
scipy==1.16.3
cachetools==6.2.6
starlette==0.52.1
absl-py==1.4.0
h2==4.3.0
google-cloud-bigtable==2.35.0
ipython-genutils==0.2.0
cvxpy==1.6.7
ipyleaflet==0.20.0
cyipopt==1.5.0
intel-cmplr-lib-ur==2025.3.2
rsa==4.9.1
opentelemetry-exporter-gcp-trace==1.11.0
toolz==0.12.1
psygnal==0.15.1
linkify-it-py==2.1.0
shapely==2.1.2
keyring==25.7.0
tweepy==4.16.0
opencv-python-headless==4.13.0.92
geographiclib==2.1
Pygments==2.19.2
alembic==1.18.4
editdistance==0.8.1
beautifulsoup4==4.13.5
ipyfilechooser==0.6.0
urllib3==2.5.0
propcache==0.4.1
notebook==6.5.7
wrapt==2.1.2
inequality==1.1.2
sklearn-compat==0.1.5
sympy==1.14.0
scooby==0.11.0
google-auth-oauthlib==1.3.0
inflect==7.5.0
h5py==3.16.0
pandas-stubs==2.2.2.240909
watchfiles==1.1.1
shap==0.51.0
pyarrow==18.1.0
sse-starlette==3.3.2
tensorflow==2.19.0
panel==1.8.10
jax==0.7.2
simplejson==3.20.2
PuLP==3.3.0
blis==1.3.3
nbclassic==1.3.3
polars-runtime-32==1.35.2
text-unidecode==1.3
simsimd==6.5.16
scs==3.2.11
plotnine==0.14.5
proglog==0.1.12
rtree==1.4.1
pynndescent==0.6.0
uri-template==1.3.0
multipledispatch==1.0.0
ipython-sql==0.5.0
gin-config==0.5.0
keras==3.13.2
snowballstemmer==3.0.1
httpx-sse==0.4.3
proto-plus==1.27.1
mgwr==2.2.1
httplib2==0.31.2
langgraph==1.1.2
aiosignal==1.4.0
pymc==5.28.1
patsy==1.0.2
ruff==0.15.6
onemkl-license==2025.3.1
jiter==0.13.0
frozenlist==1.8.0
safetensors==0.7.0
Farama-Notifications==0.0.4
cycler==0.12.1
jupyter_core==5.9.1
multitasking==0.0.12
SecretStorage==3.5.0
pygit2==1.19.1
google-cloud-datastore==2.23.0
murmurhash==1.0.15
missingno==0.5.2
lightgbm==4.6.0
ipyevents==2.0.4
python-apt==0.0.0
distro==1.7.0
oauthlib==3.2.0
lazr.uri==1.0.6
SecretStorage==3.3.1
zipp==1.0.0
PyGObject==3.42.1
dbus-python==1.2.18
lazr.restfulclient==0.14.4
httplib2==0.20.2
PyJWT==2.3.0
python-apt==2.4.0+ubuntu4.1
launchpadlib==1.10.16
jeepney==0.7.1
pyparsing==2.4.7
more-itertools==8.10.0
six==1.16.0
blinker==1.4
wadllib==1.3.6
importlib-metadata==4.6.4
keyring==23.5.0
cryptography==3.4.8
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
backports.tarfile==1.2.0
jaraco.functools==4.0.1
typing_extensions==4.12.2
platformdirs==4.2.2
jaraco.collections==5.1.0
importlib_resources==6.4.0
zipp==3.19.2
importlib_metadata==8.0.0
wheel==0.43.0
packaging==24.1
inflect==7.3.1
typeguard==4.3.0
jaraco.context==5.3.0
autocommand==2.2.2
more-itertools==10.3.0
jaraco.text==3.12.1
tomli==2.0.1
