types-setuptools==82.0.0.20260518
pip==24.1.2
requirements-parser==0.9.0
setuptools==75.2.0
google-colab==1.0.0
threadpoolctl==3.6.0
spacy-legacy==3.0.12
pydotplus==2.0.2
google-cloud-iam==2.23.0
tensorflow-hub==0.16.1
opencv-python==4.13.0.92
datasets==4.0.0
nbformat==5.10.4
promise==2.3
accelerate==1.14.0
numexpr==2.14.1
aiosqlite==0.22.1
fastprogress==1.1.6
tensorboard-data-server==0.7.2
fastai==2.8.7
music21==9.9.2
google-cloud-translate==3.26.0
jiter==0.15.0
giddy==2.3.6
portpicker==1.5.2
jsonpickle==4.1.2
watchdog==6.0.0
websockets==15.0.1
gspread==6.2.1
h2==4.3.0
community==1.0.0b1
mgwr==2.2.1
google-cloud-dataplex==2.20.0
pyroaring==1.1.0
PuLP==3.3.2
sqlglot==25.20.2
bokeh==3.8.2
catalogue==2.0.10
pydantic==2.12.3
google-cloud-functions==1.23.0
cons==0.4.7
linkify-it-py==2.1.0
et_xmlfile==2.0.0
pygit2==1.19.2
spanner-graph-notebook==1.1.10
babel==2.18.0
blosc2==4.4.5
stringzilla==4.6.2
google-cloud-bigtable==2.38.0
folium==0.20.0
curl_cffi==0.15.0
pandas-datareader==0.10.0
SecretStorage==3.5.0
jsonschema-specifications==2025.9.1
argon2-cffi==25.1.0
jieba==0.42.1
blinker==1.9.0
sphinxcontrib-serializinghtml==2.0.0
pydot==4.0.1
blobfile==3.2.0
MarkupSafe==3.0.3
jupyterlab_widgets==3.0.16
gym==0.25.2
tweepy==4.16.0
gcsfs==2025.3.0
rfc3986-validator==0.1.1
glob2==0.7
seaborn==0.13.2
nbclassic==1.3.3
mistune==3.2.1
intel-openmp==2025.3.3
sklearn-pandas==2.2.0
google-auth-oauthlib==1.4.0
esda==2.9.0
yellowbrick==1.5
ndindex==1.10.1
inflect==7.5.0
fastlite==0.2.4
pycairo==1.29.0
PyDrive2==1.21.1
tobler==0.14.0
optax==0.2.8
shapely==2.1.2
etuples==0.3.10
albumentations==2.0.8
google-auth-httplib2==0.4.0
matplotlib-venn==1.1.2
sklearn-compat==0.1.6
scipy==1.16.3
gymnasium==1.3.0
yarl==1.24.2
langchain-protocol==0.0.17
filelock==3.29.3
proto-plus==1.28.0
einops==0.8.2
jupytext==1.19.3
aiohttp==3.14.1
grpclib==0.4.9
cramjam==2.11.0
GDAL==3.8.4
pyshp==3.0.12
opentelemetry-sdk==1.38.0
branca==0.8.2
xgboost==3.2.0
graphviz==0.21
referencing==0.37.0
rpy2==3.5.17
parso==0.8.7
namex==0.1.0
nibabel==5.4.2
google-cloud-audit-log==0.6.0
PyJWT==2.13.0
langgraph==1.2.5
torch==2.11.0+cpu
torchaudio==2.11.0+cpu
en_core_web_sm==3.8.0
iniconfig==2.3.0
imageio-ffmpeg==0.6.0
dm-tree==0.1.10
ydf_tf==2.20.0
torchvision==0.26.0+cpu
geopandas==1.1.3
mmh3==5.2.1
toolz==0.12.1
eerepr==0.1.2
pyerfa==2.0.1.5
geopy==2.4.1
mdit-py-plugins==0.6.1
requests-oauthlib==2.0.0
preshed==3.0.13
absl-py==1.4.0
more-itertools==10.8.0
google-cloud-monitoring==2.31.0
sentence-transformers==5.5.1
shellingham==1.5.4
langchain==1.3.9
fastapi==0.136.3
jsonpointer==3.1.1
fastdownload==0.0.7
tabulate==0.9.0
google-cloud-appengine-logging==1.10.0
ipyevents==2.0.4
hf-xet==1.5.1
webcolors==25.10.0
apswutils==0.1.2
astunparse==1.6.3
pluggy==1.6.0
clarabel==0.11.1
intel-cmplr-lib-ur==2025.3.3
orjson==3.11.9
entrypoints==0.4
dopamine_rl==4.1.2
google-crc32c==1.8.0
immutabledict==4.3.1
moviepy==1.0.3
google-cloud-discoveryengine==0.13.12
rasterstats==0.21.0
cymem==2.0.13
scooby==0.11.2
pointpats==2.5.5
wcwidth==0.8.1
lark==1.3.1
highspy==1.14.0
python-box==7.4.1
snowballstemmer==3.1.1
segregation==2.5.4
pandas-stubs==2.2.2.240909
google-cloud-pubsub==2.39.0
types-pytz==2026.2.0.20260518
tzdata==2026.2
google-cloud-bigquery==3.41.0
apsw==3.53.2.0
pyomo==6.10.1
dask==2026.6.0
shap==0.52.0
sqlparse==0.5.5
websocket-client==1.9.0
tensorflow-text==2.20.1
google-generativeai==0.8.6
typer==0.25.1
etils==1.14.0
narwhals==2.22.1
click==8.4.1
smart_open==7.6.1
sniffio==1.3.1
frozenlist==1.8.0
inequality==1.1.2
llvmlite==0.43.0
certifi==2026.5.20
tensorstore==0.1.84
gitdb==4.0.12
tf-slim==1.1.0
google-cloud-resource-manager==1.17.0
autograd==1.8.0
srsly==2.5.3
Bottleneck==1.4.2
audioread==3.1.0
albucore==0.0.24
contourpy==1.3.3
keras-nlp==0.26.0
ale-py==0.12.0
tiktoken==0.13.0
opentelemetry-exporter-otlp-proto-http==1.38.0
cffi==2.0.0
openpyxl==3.1.5
ipyfilechooser==0.6.0
beautifulsoup4==4.13.5
brotli==1.2.0
parsy==2.2
ibis-framework==9.5.0
pydub==0.25.1
opentelemetry-resourcedetector-gcp==1.12.0a0
ipython==7.34.0
importlib_resources==7.1.0
logical-unification==0.4.7
tensorflow-datasets==4.9.10
psycopg2==2.9.12
pyparsing==3.3.2
google-cloud-logging==3.16.0
sqlalchemy-spanner==1.19.0
tcmlib==1.5.0
six==1.17.0
slicer==0.0.8
blis==1.3.3
colorcet==3.2.1
xxhash==3.7.0
cvxopt==1.3.2
pytz==2025.2
pyviz_comms==3.0.6
google-cloud-secret-manager==2.29.0
psutil==5.9.5
markdown-it-py==4.2.0
cvxpy==1.6.7
torchtune==0.6.1
onemkl-license==2025.3.1
cligj==0.7.2
protobuf==5.29.6
quantecon==0.11.2
ipyleaflet==0.20.0
uuid_utils==0.16.0
networkx==3.6.1
ratelim==0.1.6
google-cloud-speech==2.40.0
rtree==1.4.1
alembic==1.18.4
google-cloud-storage==3.12.0
humanize==4.15.0
platformdirs==4.10.0
polars-runtime-32==1.35.2
smmap==5.0.3
geemap==0.38.1
jupyter_core==5.9.1
roman-numerals-py==4.1.0
chardet==5.2.0
isoduration==20.11.0
lazy-loader==0.5
pyspark==4.0.3
google-cloud-core==2.6.0
python-multipart==0.0.32
tf_keras==2.20.0
fasttransform==0.0.2
cachetools==6.2.6
sentencepiece==0.2.1
langgraph-checkpoint==4.1.1
decorator==4.4.2
hpack==4.1.0
pyzmq==26.2.1
grpc-interceptor==0.15.4
jupyterlab_pygments==0.3.0
transformers==5.12.0
langgraph-sdk==0.4.2
opt_einsum==3.4.0
rfc3987-syntax==1.1.0
sphinxcontrib-applehelp==2.0.0
xarray-einstats==0.10.0
google==3.0.0
langgraph-prebuilt==1.1.0
packaging==26.2
uc-micro-py==2.0.0
jaraco.functools==4.5.0
Authlib==1.7.2
rsa==4.9.1
plotly==5.24.1
xyzservices==2026.3.0
geocoder==1.38.1
pyarrow==18.1.0
torchcodec==0.11.0+cpu
partd==1.4.2
simplejson==4.1.1
httpx==0.28.1
propcache==0.5.2
mkl==2025.3.1
mapclassify==2.10.0
yfinance==0.2.66
oauth2client==4.1.3
ormsgpack==1.12.2
watchfiles==1.2.0
jupyter_kernel_gateway==2.5.2
httpcore==1.0.9
python-louvain==0.16
momepy==0.11.0
mdurl==0.1.2
peewee==4.0.7
tomlkit==0.13.3
patsy==1.0.2
tqdm==4.67.3
pooch==1.9.0
python-dateutil==2.9.0.post0
librosa==0.11.0
google-cloud-trace==1.19.0
grpc-google-iam-v1==0.14.4
kaggle==2.0.2
grain==0.2.17
pyiceberg==0.11.1
annotated-types==0.7.0
ipywidgets==7.7.1
altair==5.5.0
miniKanren==1.0.5
sphinxcontrib-jsmath==1.0.1
jax==0.7.2
wasabi==1.1.3
xlrd==2.0.2
jupyter-console==6.6.3
spreg==1.9.0
treescope==0.1.10
locket==1.0.0
google-api-core==2.30.3
typeguard==4.5.2
gin-config==0.5.0
lxml==6.1.1
pandocfilters==1.5.1
wheel==0.47.0
cufflinks==0.17.3
tzlocal==5.3.1
termcolor==3.3.0
pygame==2.6.1
zstandard==0.25.0
langsmith==0.8.15
bigframes==2.42.0
jaxlib==0.7.2
gast==0.7.0
pytest==8.4.2
ydf==0.15.0
google-cloud-bigquery-storage==2.39.0
mizani==0.13.5
diffusers==0.38.0
splot==1.1.7
flatbuffers==25.12.19
colorlover==0.3.0
arrow==1.4.0
soxr==1.1.0
uritemplate==4.2.0
spacy==3.8.14
prettytable==3.17.0
anywidget==0.9.21
docstring_parser==0.18.0
ipython-genutils==0.2.0
opentelemetry-api==1.38.0
osqp==1.1.3
httptools==0.8.0
cyipopt==1.5.0
textual==6.2.1
access==1.1.10.post3
pyperclip==1.11.0
simple-parsing==0.1.8
matplotlib==3.10.0
simsimd==6.5.16
hdbscan==0.8.44
multidict==6.7.1
pydantic_core==2.41.4
defusedxml==0.7.1
bqplot==0.12.47
PyOpenGL==3.1.10
nvidia-nccl-cu12==2.30.7
ffmpy==1.0.0
atpublic==5.1
Werkzeug==3.1.8
pillow==11.3.0
kagglehub==1.0.2
uri-template==1.3.0
affine==2.4.0
tables==3.10.2
nltk==3.9.1
soupsieve==2.8.4
jaraco.context==6.1.2
google-pasta==0.2.0
h5py==3.16.0
opencv-python-headless==4.13.0.92
proglog==0.1.12
nbconvert==7.17.1
earthengine-api==1.7.30
toml==0.10.2
fastcore==1.13.3
jupyter-leaflet==0.20.0
pyasn1_modules==0.4.2
semantic-version==2.10.0
tifffile==2026.4.11
ipykernel==6.17.1
GitPython==3.1.50
tensorflow-probability==0.25.0
sentry-sdk==2.62.0
traitlets==5.7.1
thinc==8.3.13
ipython-sql==0.5.0
cycler==0.12.1
tsfresh==0.21.2
array_record==0.8.3
google-api-python-client==2.197.0
cloudpickle==3.1.2
google-cloud-datastore==2.25.0
CacheControl==0.14.4
rfc3339-validator==0.1.4
regex==2025.11.3
beartype==0.22.9
grpcio==1.81.1
plum-dispatch==2.9.0
Send2Trash==2.1.0
pydantic-settings==2.14.1
ptyprocess==0.7.0
rpds-py==2026.5.1
torchdata==0.11.0
tenacity==9.1.4
geographiclib==2.1
plotnine==0.14.5
pyogrio==0.12.1
pyasn1==0.6.3
zipp==4.1.0
aiofiles==24.1.0
googleapis-common-protos==1.75.0
stanio==0.5.1
antlr4-python3-runtime==4.9.3
spint==1.0.7
polars==1.35.2
google-ai-generativelanguage==0.6.15
multiprocess==0.70.16
gradio==5.50.0
webencodings==0.5.1
future==1.0.0
spaghetti==1.7.6
Mako==1.3.12
fqdn==1.5.1
holidays==0.98
wandb==0.27.2
opentelemetry-proto==1.38.0
libclang==18.1.1
traittypes==0.2.3
opentelemetry-semantic-conventions==0.59b0
pyOpenSSL==26.3.0
prometheus_client==0.25.0
msgpack==1.2.0
fonttools==4.63.0
uvloop==0.22.1
nbclient==0.10.4
dataproc-spark-connect==1.1.0
jupyter_server_terminals==0.5.4
pickleshare==0.7.5
bleach==6.4.0
google-auth==2.47.0
joserfc==1.7.1
sphinxcontrib-htmlhelp==2.1.0
terminado==0.18.1
fsspec==2025.3.0
python-utils==3.9.1
multipledispatch==1.0.0
Flask==3.1.3
nest-asyncio==1.6.0
notebook_shim==0.2.4
ruff==0.15.17
opentelemetry-exporter-gcp-logging==1.11.0a0
langchain-core==1.4.7
keyrings.google-artifactregistry-auth==1.1.2
text-unidecode==1.3
pysal==25.7
wordcloud==1.9.6
tornado==6.5.7
tensorflow-metadata==1.21.0
nh3==0.3.5
gspread-dataframe==4.0.0
astropy-iers-data==0.2026.6.8.17.49.5
torchsummary==1.5.1
cryptography==49.0.0
uvicorn==0.49.0
typing_extensions==4.15.0
matplotlib-inline==0.2.2
arviz==0.22.0
kiwisolver==1.5.0
httplib2==0.31.2
widgetsnbextension==3.6.10
rich==13.9.4
anyio==4.13.0
docutils==0.21.2
pyproj==3.7.2
opentelemetry-exporter-otlp-proto-common==1.38.0
googledrivedownloader==1.1.0
Pygments==2.20.0
murmurhash==1.0.15
requests-toolbelt==1.0.0
pydata-google-auth==1.9.1
keras==3.13.2
progressbar2==4.5.0
pycryptodomex==3.23.0
charset-normalizer==3.4.7
cmdstanpy==1.3.0
wrapt==2.2.1
prophet==1.3.0
imbalanced-learn==0.14.2
python-slugify==8.0.4
debugpy==1.8.15
confection==1.3.3
httpx-sse==0.4.3
umf==1.0.3
spopt==0.7.0
google-cloud-spanner==3.68.0
greenlet==3.5.1
pytensor==2.38.3
ImageIO==2.37.3
soundfile==0.14.0
google-cloud-language==2.20.0
sphinxcontrib-devhelp==2.0.0
google-resumable-media==2.10.0
h11==0.16.0
google-adk==1.29.0
duckdb==1.3.2
mlxtend==0.23.4
Markdown==3.10.2
pynndescent==0.6.0
pycparser==3.0
safehttpx==0.1.7
natsort==8.4.0
peft==0.19.1
panel==1.9.3
editdistance==0.8.1
PyYAML==6.0.3
PyWavelets==1.9.0
pandas-gbq==0.30.0
astropy==7.2.0
google-cloud-bigquery-connection==1.22.0
alabaster==1.0.0
ml_dtypes==0.5.4
cloudpathlib==0.24.0
kagglesdk==0.1.23
numpy==2.0.2
dlib==19.24.6
PyGObject==3.48.2
ipyparallel==8.8.0
py4j==0.10.9.9
multitasking==0.0.13
groovy==0.1.2
jaraco.classes==3.4.0
holoviews==1.22.1
deprecation==2.1.0
tbb==2022.3.1
flax==0.11.2
dill==0.3.8
opencv-contrib-python==4.13.0.92
httpimport==1.4.1
xarray==2025.12.0
importlib_metadata==8.7.1
pexpect==4.9.0
optree==0.19.1
bigquery-magics==0.14.0
torchao==0.10.0
jupyter-events==0.12.1
idna==3.18
param==2.4.1
numba==0.60.0
itsdangerous==2.2.0
stumpy==1.13.0
distro==1.9.0
db-dtypes==1.7.0
spacy-loggers==1.0.5
requests==2.32.4
starlette==0.52.1
roman-numerals==4.1.0
spglm==1.1.0
libpysal==4.14.1
pandas==2.2.2
typing-inspection==0.4.2
sympy==1.14.0
tensorboard==2.20.0
urllib3==2.5.0
opentelemetry-exporter-gcp-monitoring==1.12.0a0
grpcio-status==1.71.2
aiohappyeyeballs==2.6.2
huggingface_hub==1.19.0
imagesize==2.0.0
gdown==5.2.2
hyperframe==6.1.0
tinycss2==1.5.1
prompt_toolkit==3.0.52
missingno==0.5.2
keyring==25.7.0
jupyter_client==7.4.9
scikit-image==0.25.2
Cython==3.0.12
firebase-admin==6.9.0
python-dotenv==1.2.2
jsonschema==4.26.0
sphinxcontrib-qthelp==2.0.0
safetensors==0.8.0
openai==2.41.1
timm==1.0.27
umap-learn==0.5.12
py-cpuinfo==9.0.0
strictyaml==1.7.3
easydict==1.13
SQLAlchemy==2.0.50
jeepney==0.9.0
PySocks==1.7.1
joblib==1.5.3
google-cloud-dataproc==5.28.0
fastjsonschema==2.21.2
pymc==5.28.5
scikit-learn==1.6.1
annotated-doc==0.0.4
textblob==0.19.0
hyperopt==0.2.7
mpmath==1.3.0
google-cloud-firestore==2.27.0
attrs==26.1.0
google-cloud-aiplatform==1.157.0
tensorflow==2.20.0
gradio_client==1.14.0
argon2-cffi-bindings==25.1.0
betterproto==2.0.0b6
backcall==0.2.0
cmake==3.31.10
vega-datasets==0.9.0
python-fasthtml==0.12.50
mcp==1.27.2
Sphinx==8.2.3
sse-starlette==3.4.4
tokenizers==0.22.2
Farama-Notifications==0.0.6
oauthlib==3.3.1
python-snappy==0.7.3
weasel==1.0.0
Jinja2==3.1.6
python-json-logger==4.1.0
opentelemetry-exporter-gcp-trace==1.12.0
scs==3.2.11
jsonpatch==1.33
psygnal==0.15.1
imutils==0.5.4
notebook==6.5.7
pycocotools==2.0.11
panel-material-ui==0.12.0
rasterio==1.5.0
lightgbm==4.6.0
html5lib==1.1
gym-notices==0.1.0
keras-hub==0.26.0
statsmodels==0.14.6
omegaconf==2.3.1
jupyter_server==2.18.2
aiosignal==1.4.0
h5netcdf==1.8.1
google-genai==1.68.0
frozendict==2.4.7
orbax-checkpoint==0.12.0
python-apt==0.0.0
oauthlib==3.2.0
more-itertools==8.10.0
importlib-metadata==4.6.4
zipp==1.0.0
lazr.restfulclient==0.14.4
jeepney==0.7.1
PyJWT==2.3.0
distro==1.7.0
launchpadlib==1.10.16
six==1.16.0
cryptography==3.4.8
PyGObject==3.42.1
keyring==23.5.0
blinker==1.4
dbus-python==1.2.18
pyparsing==2.4.7
lazr.uri==1.0.6
wadllib==1.3.6
python-apt==2.4.0+ubuntu4.1
httplib2==0.20.2
SecretStorage==3.3.1
MarkupSafe==2.0.1
Mako==1.1.3
Markdown==3.3.6
typing_extensions==4.12.2
inflect==7.3.1
importlib_metadata==8.0.0
autocommand==2.2.2
platformdirs==4.2.2
tomli==2.0.1
packaging==24.1
wheel==0.43.0
jaraco.collections==5.1.0
importlib_resources==6.4.0
backports.tarfile==1.2.0
jaraco.functools==4.0.1
typeguard==4.3.0
zipp==3.19.2
jaraco.context==5.3.0
more-itertools==10.3.0
jaraco.text==3.12.1
