types-setuptools==82.0.0.20260518
pip==24.1.2
requirements-parser==0.9.0
setuptools==75.2.0
google-colab==1.0.0
tf_keras==2.20.0
google-cloud-datastore==2.25.0
google-pasta==0.2.0
plotnine==0.14.5
opentelemetry-exporter-otlp-proto-http==1.38.0
en_core_web_sm==3.8.0
urllib3==2.5.0
google-genai==1.68.0
semantic-version==2.10.0
docutils==0.21.2
httpx==0.28.1
cucim-cu12==26.2.0
editdistance==0.8.1
stanio==0.5.1
nvidia-nvjitlink-cu12==12.8.93
sklearn-compat==0.1.6
grpc-google-iam-v1==0.14.4
frozenlist==1.8.0
tabulate==0.9.0
cuvs-cu12==26.2.0
shellingham==1.5.4
nvidia-cuda-cccl-cu12==12.9.27
joserfc==1.7.1
antlr4-python3-runtime==4.9.3
clarabel==0.11.1
segregation==2.5.4
scipy==1.16.3
nvidia-nvtx-cu12==12.8.90
weasel==1.0.0
betterproto==2.0.0b6
tomlkit==0.13.3
tbb==2022.3.1
librmm-cu12==26.2.0
tokenizers==0.22.2
argon2-cffi-bindings==25.1.0
atpublic==5.1
traitlets==5.7.1
numba-cuda==0.22.2
MarkupSafe==3.0.3
gin-config==0.5.0
multitasking==0.0.13
bleach==6.4.0
tenacity==9.1.4
Pygments==2.20.0
tensorflow==2.20.0
holidays==0.98
diffusers==0.38.0
websockets==15.0.1
prettytable==3.17.0
Bottleneck==1.4.2
pandocfilters==1.5.1
h5py==3.16.0
arrow==1.4.0
kiwisolver==1.5.0
zict==3.0.0
jiter==0.15.0
kagglesdk==0.1.23
safetensors==0.8.0
nltk==3.9.1
google-auth-oauthlib==1.4.0
fastlite==0.2.4
ipython-genutils==0.2.0
vega-datasets==0.9.0
pyasn1==0.6.3
openpyxl==3.1.5
traittypes==0.2.3
httpimport==1.4.1
google-resumable-media==2.10.0
chardet==5.2.0
jsonpointer==3.1.1
rmm-cu12==26.2.0
osqp==1.1.2
inflect==7.5.0
nbclient==0.10.4
parso==0.8.7
logical-unification==0.4.7
inequality==1.1.2
PuLP==3.3.2
google-cloud-dataplex==2.20.0
aiosqlite==0.22.1
rpy2==3.5.17
six==1.17.0
catalogue==2.0.10
multipledispatch==1.0.0
stringzilla==4.6.2
distro==1.9.0
keras-nlp==0.26.0
rapids-dask-dependency==26.2.0
pointpats==2.5.5
progressbar2==4.5.0
uvicorn==0.49.0
nx-cugraph-cu12==26.2.0
fsspec==2025.3.0
PyGObject==3.48.2
PyDrive2==1.21.1
google-api-core==2.30.3
ormsgpack==1.12.2
nvidia-cusparselt-cu12==0.7.1
cyipopt==1.5.0
typeguard==4.5.2
fastprogress==1.1.6
highspy==1.14.0
gitdb==4.0.12
torchaudio==2.11.0+cu128
anyio==4.13.0
importlib_metadata==8.7.1
graphviz==0.21
typer==0.25.1
rfc3987-syntax==1.1.0
google-cloud-bigquery==3.41.0
eerepr==0.1.2
zstandard==0.25.0
httpx-sse==0.4.3
langchain==1.3.6
param==2.4.1
natsort==8.4.0
jupyterlab_pygments==0.3.0
jsonpickle==4.1.2
google-cloud-bigquery-storage==2.39.0
spacy-legacy==3.0.12
ipyfilechooser==0.6.0
fastai==2.8.7
python-snappy==0.7.3
hdbscan==0.8.44
langsmith==0.8.12
annotated-doc==0.0.4
holoviews==1.22.1
cuda-bindings==12.9.7
xarray-einstats==0.10.0
promise==2.3
cramjam==2.11.0
jsonschema-specifications==2025.9.1
imageio-ffmpeg==0.6.0
annotated-types==0.7.0
tensorflow-probability==0.25.0
uuid_utils==0.16.0
imutils==0.5.4
opencv-contrib-python==4.13.0.92
Markdown==3.10.2
nvidia-curand-cu12==10.3.9.90
pandas-stubs==2.2.2.240909
aiosignal==1.4.0
widgetsnbextension==3.6.10
opentelemetry-sdk==1.38.0
rpds-py==2026.5.1
filelock==3.29.2
flax==0.11.2
sqlalchemy-spanner==1.19.0
pytensor==2.38.3
treescope==0.1.10
colorlover==0.3.0
datasets==4.0.0
nvidia-cufile-cu12==1.13.1.3
jupyter_server==2.18.2
treelite==4.7.0
deprecation==2.1.0
portpicker==1.5.2
google-ai-generativelanguage==0.6.15
psutil==5.9.5
jupyter_server_terminals==0.5.4
torchao==0.10.0
google-cloud-dataproc==5.28.0
nibabel==5.4.2
tinycss2==1.5.1
pylibcugraph-cu12==26.2.0
grpcio-status==1.71.2
tensorflow-metadata==1.21.0
jupyter-events==0.12.1
cons==0.4.7
panel==1.9.3
aiohappyeyeballs==2.6.2
jaraco.context==6.1.2
python-json-logger==4.1.0
alembic==1.18.4
cachetools==6.2.6
curl_cffi==0.15.0
tables==3.10.2
toolz==0.12.1
orbax-checkpoint==0.12.0
zipp==4.1.0
onemkl-license==2025.3.1
sphinxcontrib-qthelp==2.0.0
brotli==1.2.0
tifffile==2026.4.11
PyJWT==2.13.0
cufflinks==0.17.3
itsdangerous==2.2.0
giddy==2.3.6
gspread==6.2.1
requests==2.32.4
cycler==0.12.1
bqplot==0.12.47
gymnasium==1.3.0
optree==0.19.1
types-pytz==2026.2.0.20260518
Authlib==1.7.2
easydict==1.13
sympy==1.14.0
pickleshare==0.7.5
nvidia-nvimgcodec-cu12==0.7.0.11
pillow==11.3.0
groovy==0.1.2
albucore==0.0.24
grpc-interceptor==0.15.4
murmurhash==1.0.15
python-louvain==0.16
soundfile==0.14.0
jieba==0.42.1
cloudpathlib==0.24.0
gradio==5.50.0
termcolor==3.3.0
accelerate==1.13.0
rasterstats==0.21.0
apsw==3.53.2.0
pytest==8.4.2
colorcet==3.2.1
Send2Trash==2.1.0
google-api-python-client==2.197.0
flatbuffers==25.12.19
tensorboard==2.20.0
python-box==7.4.1
jupyter_kernel_gateway==2.5.2
simple-parsing==0.1.8
watchfiles==1.2.0
cuda-core==0.3.2
jax-cuda12-pjrt==0.7.2
pyspark==4.0.2
regex==2025.11.3
umap-learn==0.5.12
pydantic_core==2.41.4
jupyterlab_widgets==3.0.16
geopandas==1.1.3
propcache==0.5.2
libucxx-cu12==0.48.0
webcolors==25.10.0
PyOpenGL==3.1.10
access==1.1.10.post3
charset-normalizer==3.4.7
contourpy==1.3.3
h11==0.16.0
py4j==0.10.9.9
google-cloud-language==2.20.0
ImageIO==2.37.3
networkx==3.6.1
langgraph-checkpoint==4.1.1
nvidia-cudnn-cu12==9.19.0.56
prometheus_client==0.25.0
cuml-cu12==26.2.0
pycryptodomex==3.23.0
nvidia-libnvcomp-cu12==5.1.0.21
srsly==2.5.3
scikit-learn==1.6.1
immutabledict==4.3.1
opt_einsum==3.4.0
nvidia-cublas-cu12==12.8.4.1
timm==1.0.27
SecretStorage==3.5.0
google-crc32c==1.8.0
google-cloud-bigtable==2.38.0
nh3==0.3.5
python-utils==3.9.1
pycparser==3.0
jax-cuda12-plugin==0.7.2
python-fasthtml==0.12.50
platformdirs==4.10.0
sphinxcontrib-serializinghtml==2.0.0
requests-oauthlib==2.0.0
click==8.4.1
anywidget==0.9.21
thinc==8.3.13
mlxtend==0.23.4
folium==0.20.0
cupy-cuda12x==14.0.1
psycopg2==2.9.12
libucx-cu12==1.19.0
mgwr==2.2.1
sphinxcontrib-devhelp==2.0.0
moviepy==1.0.3
cmake==3.31.10
nvidia-cuda-runtime-cu12==12.8.90
rtree==1.4.1
ipykernel==6.17.1
ipywidgets==7.7.1
music21==9.9.2
mmh3==5.2.1
gym==0.25.2
safehttpx==0.1.7
cvxopt==1.3.2
xlrd==2.0.2
libkvikio-cu12==26.2.0
ffmpy==1.0.0
msgpack==1.1.2
astropy-iers-data==0.2026.6.8.17.49.5
bigquery-magics==0.14.0
shap==0.52.0
imbalanced-learn==0.14.2
langchain-core==1.4.3
absl-py==1.4.0
opentelemetry-resourcedetector-gcp==1.12.0a0
stumpy==1.13.0
websocket-client==1.9.0
python-dotenv==1.2.2
tcmlib==1.5.0
pymc==5.28.5
linkify-it-py==2.1.0
matplotlib-venn==1.1.2
polars==1.35.2
opentelemetry-exporter-otlp-proto-common==1.38.0
etils==1.14.0
h2==4.3.0
ipyparallel==8.8.0
pyarrow==18.1.0
lark==1.3.1
decorator==4.4.2
google-cloud-discoveryengine==0.13.12
sphinxcontrib-jsmath==1.0.1
google-cloud-core==2.6.0
mistune==3.2.1
jupyter-console==6.6.3
narwhals==2.22.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-ml-py==13.610.43
beartype==0.22.9
ipyleaflet==0.20.0
grain==0.2.17
peewee==4.0.6
ml_dtypes==0.5.4
pysal==25.7
numba==0.60.0
tf-slim==1.1.0
protobuf==5.29.6
et_xmlfile==2.0.0
dask==2026.1.1
wandb==0.27.2
jupyter_client==7.4.9
jupyter-leaflet==0.20.0
fastapi==0.136.3
python-multipart==0.0.32
proglog==0.1.12
torchsummary==1.5.1
sphinxcontrib-htmlhelp==2.1.0
attrs==26.1.0
ibis-framework==9.5.0
Werkzeug==3.1.8
tornado==6.5.7
Sphinx==8.2.3
opencv-python-headless==4.13.0.92
threadpoolctl==3.6.0
Jinja2==3.1.6
cymem==2.0.13
nvtx==0.2.15
cuda-toolkit==12.8.1
audioread==3.1.0
wasabi==1.1.3
pyzmq==26.2.1
alabaster==1.0.0
libcuvs-cu12==26.2.0
pytz==2025.2
ydf_tf==2.20.0
spint==1.0.7
geemap==0.38.0
torchvision==0.26.0+cu128
libcuml-cu12==26.2.0
numpy==2.0.2
rich==13.9.4
yfinance==0.2.66
pyOpenSSL==26.2.0
toml==0.10.2
arviz==0.22.0
cligj==0.7.2
Mako==1.3.12
pandas==2.2.2
raft-dask-cu12==26.2.0
typing-inspection==0.4.2
mdurl==0.1.2
aiohttp==3.14.1
google-auth==2.47.0
distributed==2026.1.1
kaggle==2.0.2
httplib2==0.31.2
simplejson==4.1.1
apswutils==0.1.2
opentelemetry-api==1.38.0
dm-tree==0.1.10
imagesize==2.0.0
iniconfig==2.3.0
jax==0.7.2
xyzservices==2026.3.0
libcugraph-cu12==26.2.0
glob2==0.7
array_record==0.8.3
matplotlib-inline==0.2.2
google-cloud-storage==3.11.0
geocoder==1.38.1
isoduration==20.11.0
scooby==0.11.2
python-slugify==8.0.4
triton==3.6.0
humanize==4.15.0
pyperclip==1.11.0
tensorflow-text==2.20.1
cmdstanpy==1.3.0
blinker==1.9.0
SQLAlchemy==2.0.50
PyYAML==6.0.3
ruff==0.15.16
google-cloud-iam==2.23.0
Farama-Notifications==0.0.6
librosa==0.11.0
yarl==1.24.2
duckdb==1.3.2
hpack==4.1.0
tsfresh==0.21.2
pooch==1.9.0
pydantic-settings==2.14.1
jaraco.functools==4.5.0
kagglehub==1.0.2
jeepney==0.9.0
google-cloud-pubsub==2.39.0
nbclassic==1.3.3
huggingface_hub==1.18.0
hyperframe==6.1.0
babel==2.18.0
google-cloud-aiplatform==1.157.0
libraft-cu12==26.2.0
pydot==4.0.1
webencodings==0.5.1
pylibraft-cu12==26.2.0
nvidia-nccl-cu12==2.28.9
seaborn==0.13.2
torchdata==0.11.0
jsonschema==4.26.0
PySocks==1.7.1
sqlparse==0.5.5
smart_open==7.6.1
tobler==0.14.0
hyperopt==0.2.7
mcp==1.27.2
dataproc-spark-connect==1.1.0
pydantic==2.12.3
pyroaring==1.1.0
torch==2.11.0+cu128
gym-notices==0.1.0
sentence-transformers==5.5.1
mdit-py-plugins==0.6.1
splot==1.1.7
httpcore==1.0.9
wheel==0.47.0
ipython-sql==0.5.0
referencing==0.37.0
peft==0.19.1
google-adk==1.29.0
fastcore==1.13.3
earthengine-api==1.7.30
xxhash==3.7.0
astunparse==1.6.3
entrypoints==0.4
tweepy==4.16.0
proto-plus==1.28.0
google-cloud-secret-manager==2.29.0
opentelemetry-exporter-gcp-logging==1.11.0a0
gcsfs==2025.3.0
ucxx-cu12==0.48.0
intel-cmplr-lib-ur==2025.3.3
ratelim==0.1.6
rsa==4.9.1
tiktoken==0.13.0
prompt_toolkit==3.0.52
openai==2.41.0
tensorstore==0.1.84
sphinxcontrib-applehelp==2.0.0
rfc3986-validator==0.1.1
beautifulsoup4==4.13.5
uritemplate==4.2.0
geopy==2.4.1
spglm==1.1.0
bigframes==2.42.0
googleapis-common-protos==1.75.0
keyring==25.7.0
scs==3.2.11
ipython==7.34.0
uri-template==1.3.0
esda==2.9.0
Cython==3.0.12
google-cloud-bigquery-connection==1.22.0
tqdm==4.67.3
panel-material-ui==0.12.0
ptyprocess==0.7.0
google-auth-httplib2==0.4.0
spopt==0.7.0
cvxpy==1.6.7
fastdownload==0.0.7
idna==3.18
aiofiles==24.1.0
langgraph-sdk==0.4.2
nbconvert==7.17.1
certifi==2026.5.20
google-cloud-translate==3.26.0
ale-py==0.12.0
joblib==1.5.3
lxml==6.1.1
jsonpatch==1.33
ndindex==1.10.1
snowballstemmer==3.1.1
shapely==2.1.2
roman-numerals-py==4.1.0
google-generativeai==0.8.6
torchcodec==0.11.0+cu128
pycairo==1.29.0
autograd==1.8.0
CacheControl==0.14.4
langgraph==1.2.4
pyogrio==0.12.1
importlib_resources==7.1.0
branca==0.8.2
spanner-graph-notebook==1.1.10
altair==5.5.0
distributed-ucxx-cu12==0.48.0
locket==1.0.0
polars-runtime-32==1.35.2
hf-xet==1.5.1
pyproj==3.7.2
google-cloud-functions==1.23.0
mpmath==1.3.0
etuples==0.3.10
jupytext==1.19.3
preshed==3.0.13
opentelemetry-exporter-gcp-monitoring==1.12.0a0
tblib==3.2.2
slicer==0.0.8
libpysal==4.14.1
future==1.0.0
google-cloud-resource-manager==1.17.0
google-cloud-logging==3.16.0
google==3.0.0
langchain-protocol==0.0.16
sniffio==1.3.1
google-cloud-spanner==3.67.0
ydf==0.15.0
nest-asyncio==1.6.0
confection==1.3.3
cuda-python==12.9.7
markdown-it-py==4.2.0
py-cpuinfo==9.0.0
python-dateutil==2.9.0.post0
cloudpickle==3.1.2
fqdn==1.5.1
notebook_shim==0.2.4
GDAL==3.8.4
fonttools==4.63.0
spacy-loggers==1.0.5
libclang==18.1.1
pydotplus==2.0.2
GitPython==3.1.50
momepy==0.11.0
llvmlite==0.43.0
pynndescent==0.6.0
rapids-logger==0.2.3
googledrivedownloader==1.1.0
spaghetti==1.7.6
cudf-polars-cu12==26.2.1
google-cloud-appengine-logging==1.10.0
pyasn1_modules==0.4.2
pyiceberg==0.11.1
cryptography==48.0.1
pyerfa==2.0.1.5
lazy-loader==0.5
text-unidecode==1.3
Flask==3.1.3
argon2-cffi==25.1.0
packaging==26.2
opentelemetry-semantic-conventions==0.59b0
wcwidth==0.8.1
h5netcdf==1.8.1
PyWavelets==1.9.0
nvidia-cufft-cu12==11.3.3.83
optax==0.2.8
astropy==7.2.0
numexpr==2.14.1
tensorflow-hub==0.16.1
pydata-google-auth==1.9.1
yellowbrick==1.5
nbformat==5.10.4
simsimd==6.5.16
plotly==5.24.1
textblob==0.19.0
blosc2==4.4.2
jaxlib==0.7.2
albumentations==2.0.8
google-cloud-trace==1.19.0
oauth2client==4.1.3
missingno==0.5.2
pandas-datareader==0.10.0
google-cloud-speech==2.40.0
bokeh==3.8.2
tzlocal==5.3.1
pluggy==1.6.0
gdown==5.2.2
namex==0.1.0
cudf-cu12==26.2.1
watchdog==6.0.0
strictyaml==1.7.3
terminado==0.18.1
umf==1.0.3
uc-micro-py==2.0.0
mizani==0.13.5
einops==0.8.2
lightgbm==4.6.0
html5lib==1.1
plum-dispatch==2.9.0
orjson==3.11.9
blobfile==3.2.0
google-cloud-audit-log==0.6.0
sklearn-pandas==2.2.0
ipyevents==2.0.4
nvidia-cusolver-cu12==11.7.3.90
dopamine_rl==4.1.2
pygame==2.6.1
frozendict==2.4.7
quantecon==0.11.2
roman-numerals==4.1.0
gradio_client==1.14.0
wrapt==2.2.1
prophet==1.3.0
psygnal==0.15.1
google-cloud-monitoring==2.31.0
tensorboard-data-server==0.7.2
rfc3339-validator==0.1.4
scikit-image==0.25.2
pyparsing==3.3.2
multidict==6.7.1
typing_extensions==4.15.0
grpclib==0.4.9
sentencepiece==0.2.1
cuda-pathfinder==1.5.5
statsmodels==0.14.6
jaraco.classes==3.4.0
docstring_parser==0.18.0
oauthlib==3.3.1
partd==1.4.2
keras==3.13.2
uvloop==0.22.1
firebase-admin==6.9.0
multiprocess==0.70.16
fastjsonschema==2.21.2
soupsieve==2.8.4
cffi==2.0.0
sentry-sdk==2.62.0
patsy==1.0.2
httptools==0.8.0
pexpect==4.9.0
sortedcontainers==2.4.0
pycocotools==2.0.11
google-cloud-firestore==2.27.0
spacy==3.8.14
mapclassify==2.10.0
tzdata==2026.2
opentelemetry-proto==1.38.0
pylibcudf-cu12==26.2.1
pyomo==6.10.1
spreg==1.9.0
dill==0.3.8
sqlglot==25.20.2
mkl==2025.3.1
fasttransform==0.0.2
pyshp==3.0.12
requests-toolbelt==1.0.0
intel-openmp==2025.3.3
pydub==0.25.1
xarray==2025.12.0
db-dtypes==1.7.0
tensorflow-datasets==4.9.10
gast==0.7.0
dlib==19.24.6
notebook==6.5.7
torchtune==0.6.1
jupyter_core==5.9.1
geographiclib==2.1
langgraph-prebuilt==1.1.0
pandas-gbq==0.30.0
blis==1.3.3
omegaconf==2.3.0
pyviz_comms==3.0.6
soxr==1.1.0
dask-cuda==26.2.0
grpcio==1.81.0
parsy==2.2
debugpy==1.8.15
sse-starlette==3.4.4
community==1.0.0b1
rasterio==1.5.0
wordcloud==1.9.6
gspread-dataframe==4.0.0
affine==2.4.0
keyrings.google-artifactregistry-auth==1.1.2
starlette==0.52.1
keras-hub==0.26.0
xgboost==3.2.0
pygit2==1.19.2
smmap==5.0.3
miniKanren==1.0.5
transformers==5.10.2
defusedxml==0.7.1
backcall==0.2.0
greenlet==3.5.1
nvidia-cusparse-cu12==12.5.8.93
dask-cudf-cu12==26.2.1
opentelemetry-exporter-gcp-trace==1.12.0
more-itertools==10.8.0
nvidia-nvshmem-cu12==3.4.5
nvidia-cuda-nvcc-cu12==12.8.93
opencv-python==4.13.0.92
libcudf-cu12==26.2.1
nvidia-cuda-nvrtc-cu12==12.8.93
matplotlib==3.10.0
python-apt==0.0.0
importlib-metadata==4.6.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
six==1.16.0
wadllib==1.3.6
python-apt==2.4.0+ubuntu4.1
PyJWT==2.3.0
keyring==23.5.0
dbus-python==1.2.18
httplib2==0.20.2
PyGObject==3.42.1
oauthlib==3.2.0
more-itertools==8.10.0
pyparsing==2.4.7
distro==1.7.0
cryptography==3.4.8
lazr.uri==1.0.6
jeepney==0.7.1
SecretStorage==3.3.1
blinker==1.4
zipp==1.0.0
MarkupSafe==2.0.1
Markdown==3.3.6
Mako==1.1.3
importlib_resources==6.4.0
jaraco.context==5.3.0
tomli==2.0.1
wheel==0.43.0
zipp==3.19.2
importlib_metadata==8.0.0
more-itertools==10.3.0
backports.tarfile==1.2.0
jaraco.text==3.12.1
autocommand==2.2.2
packaging==24.1
typing_extensions==4.12.2
jaraco.collections==5.1.0
jaraco.functools==4.0.1
platformdirs==4.2.2
inflect==7.3.1
typeguard==4.3.0
