types-setuptools==82.0.0.20260210
pip==24.1.2
setuptools==75.2.0
requirements-parser==0.9.0
google-colab==1.0.0
fonttools==4.62.1
iniconfig==2.3.0
libcuvs-cu12==26.2.0
folium==0.20.0
yellowbrick==1.5
h5py==3.16.0
pydot==4.0.1
spacy==3.8.11
sentry-sdk==2.54.0
google-generativeai==0.8.6
cucim-cu12==26.2.0
tensorboard-data-server==0.7.2
pooch==1.9.0
requests==2.32.4
llvmlite==0.43.0
jsonschema-specifications==2025.9.1
google-cloud-appengine-logging==1.8.0
nvidia-cufile-cu12==1.13.1.3
google-cloud-iam==2.21.0
groovy==0.1.2
mdit-py-plugins==0.5.0
libraft-cu12==26.2.0
blosc2==4.1.2
jsonpickle==4.1.1
libcudf-cu12==26.2.1
hyperframe==6.1.0
jupyter_server_terminals==0.5.4
astropy-iers-data==0.2026.3.16.0.53.33
uc-micro-py==2.0.0
cufflinks==0.17.3
roman-numerals-py==4.1.0
nvidia-cuda-cupti-cu12==12.8.90
et_xmlfile==2.0.0
aiofiles==24.1.0
nvidia-cusparselt-cu12==0.7.1
pointpats==2.5.5
shap==0.51.0
langgraph==1.1.2
requests-oauthlib==2.0.0
giddy==2.3.8
uvicorn==0.42.0
spacy-loggers==1.0.5
simsimd==6.5.16
MarkupSafe==3.0.3
frozenlist==1.8.0
tensorflow-text==2.19.0
ruff==0.15.6
tinycss2==1.4.0
firebase-admin==6.9.0
hf-xet==1.4.2
easydict==1.13
cachetools==6.2.6
opentelemetry-proto==1.38.0
sphinxcontrib-applehelp==2.0.0
rapids-dask-dependency==26.2.0
mlxtend==0.23.4
google-auth-httplib2==0.3.0
nvidia-nvimgcodec-cu12==0.7.0.11
certifi==2026.2.25
tenacity==9.1.4
tzlocal==5.3.1
opentelemetry-exporter-otlp-proto-http==1.38.0
jupyter-console==6.6.3
sniffio==1.3.1
stanio==0.5.1
shapely==2.1.2
jeepney==0.9.0
google-cloud-functions==1.22.0
imutils==0.5.4
access==1.1.10.post3
dlib==19.24.6
itsdangerous==2.2.0
importlib_resources==6.5.2
affine==2.4.0
tsfresh==0.21.1
sklearn-pandas==2.2.0
pandocfilters==1.5.1
torchao==0.10.0
py4j==0.10.9.9
annotated-types==0.7.0
PySocks==1.7.1
raft-dask-cu12==26.2.0
anywidget==0.9.21
curl_cffi==0.14.0
parsy==2.2
colour==0.1.5
sphinxcontrib-htmlhelp==2.1.0
pycairo==1.29.0
imbalanced-learn==0.14.1
webencodings==0.5.1
linkify-it-py==2.1.0
torchaudio==2.10.0+cu128
zict==3.0.0
colorcet==3.1.0
pyasn1==0.6.3
google-cloud-audit-log==0.4.0
alembic==1.18.4
sphinxcontrib-devhelp==2.0.0
ptyprocess==0.7.0
murmurhash==1.0.15
docutils==0.21.2
absl-py==1.4.0
defusedxml==0.7.1
pysal==25.7
google-resumable-media==2.8.0
zstandard==0.25.0
jupyter_core==5.9.1
deprecation==2.1.0
google-cloud-dataproc==5.25.0
mapclassify==2.10.0
cudf-polars-cu12==26.2.1
pycparser==3.0
bleach==6.3.0
ipython==7.34.0
numba-cuda==0.22.2
tweepy==4.16.0
sentencepiece==0.2.1
onemkl-license==2025.3.1
python-dateutil==2.9.0.post0
xarray==2025.12.0
python-multipart==0.0.22
regex==2025.11.3
ffmpy==1.0.0
rich==13.9.4
splot==1.1.7
filelock==3.25.2
opencv-python==4.13.0.92
tcmlib==1.4.1
greenlet==3.3.2
xlrd==2.0.2
google-cloud-speech==2.37.0
umf==1.0.3
httptools==0.7.1
html5lib==1.1
opentelemetry-exporter-gcp-logging==1.11.0a0
plotnine==0.14.5
charset-normalizer==3.4.6
kiwisolver==1.5.0
hyperopt==0.2.7
cmake==3.31.10
hpack==4.1.0
lark==1.3.1
highspy==1.13.1
protobuf==5.29.6
nvidia-nvjitlink-cu12==12.8.93
sentence-transformers==5.3.0
uri-template==1.3.0
rapids-logger==0.2.3
uuid_utils==0.14.1
dill==0.3.8
pyarrow==18.1.0
google-cloud-bigquery==3.40.1
fastprogress==1.1.5
en_core_web_sm==3.8.0
ibis-framework==9.5.0
gast==0.7.0
overrides==7.7.0
tables==3.10.2
google-cloud-monitoring==2.29.1
numpy==2.0.2
cloudpathlib==0.23.0
ipyfilechooser==0.6.0
ipyparallel==8.8.0
thinc==8.3.10
notebook==6.5.7
spaghetti==1.7.6
opentelemetry-exporter-otlp-proto-common==1.38.0
spopt==0.7.0
langgraph-prebuilt==1.0.8
humanize==4.15.0
panel==1.8.10
albucore==0.0.24
opentelemetry-exporter-gcp-trace==1.11.0
cligj==0.7.2
textblob==0.19.0
sqlglot==25.20.2
nvidia-cuda-nvrtc-cu12==12.8.93
torchtune==0.6.1
dask-cuda==26.2.0
moviepy==1.0.3
tensorflow-probability==0.25.0
langgraph-sdk==0.3.11
zipp==3.23.0
numba==0.60.0
six==1.17.0
beautifulsoup4==4.13.5
datasets==4.0.0
traittypes==0.2.3
Farama-Notifications==0.0.4
bokeh==3.8.2
community==1.0.0b1
tensorflow_decision_forests==1.12.0
pandas==2.2.2
google-cloud-trace==1.18.0
apsw==3.51.3.0
sortedcontainers==2.4.0
websocket-client==1.9.0
Cython==3.0.12
alabaster==1.0.0
google-cloud-discoveryengine==0.13.12
param==2.3.2
gspread==6.2.1
gym==0.25.2
wurlitzer==3.1.1
isoduration==20.11.0
google-cloud-firestore==2.25.0
clarabel==0.11.1
oauth2client==4.1.3
pandas-gbq==0.30.0
timm==1.0.25
tabulate==0.9.0
widgetsnbextension==3.6.10
partd==1.4.2
wheel==0.46.3
click==8.3.1
tqdm==4.67.3
optree==0.19.0
Mako==1.3.10
parso==0.8.6
webcolors==25.10.0
requests-toolbelt==1.0.0
ipython-sql==0.5.0
threadpoolctl==3.6.0
langchain==1.2.12
pyroaring==1.0.3
gym-notices==0.1.0
etuples==0.3.10
namex==0.1.0
safetensors==0.7.0
tifffile==2026.3.3
astunparse==1.6.3
cuda-pathfinder==1.4.3
SQLAlchemy==2.0.48
frozendict==2.4.7
kaggle==2.0.0
torchdata==0.11.0
rsa==4.9.1
cramjam==2.11.0
polars-runtime-32==1.35.2
more-itertools==10.8.0
opentelemetry-semantic-conventions==0.59b0
etils==1.14.0
slicer==0.0.8
nltk==3.9.1
nest-asyncio==1.6.0
PyDrive2==1.21.3
arrow==1.4.0
debugpy==1.8.15
httpimport==1.4.1
rasterio==1.5.0
locket==1.0.0
nbconvert==7.17.0
scikit-learn==1.6.1
pydub==0.25.1
pyparsing==3.3.2
prompt_toolkit==3.0.52
nvidia-libnvcomp-cu12==5.1.0.21
omegaconf==2.3.0
mdurl==0.1.2
watchdog==6.0.0
autograd==1.8.0
antlr4-python3-runtime==4.9.3
pickleshare==0.7.5
torchsummary==1.5.1
pylibcugraph-cu12==26.2.0
sse-starlette==3.3.2
Markdown==3.10.2
nvidia-cuda-cccl-cu12==12.9.27
types-pytz==2026.1.1.20260304
patsy==1.0.2
opencv-python-headless==4.13.0.92
cyipopt==1.5.0
immutabledict==4.3.1
orbax-checkpoint==0.11.33
CacheControl==0.14.4
lightgbm==4.6.0
rfc3339-validator==0.1.4
typing-inspection==0.4.2
tobler==0.13.0
platformdirs==4.9.4
fasttransform==0.0.2
pylibcudf-cu12==26.2.1
plotly==5.24.1
pyviz_comms==3.0.6
earthengine-api==1.5.24
pytensor==2.38.2
spacy-legacy==3.0.12
beartype==0.22.9
grpc-google-iam-v1==0.14.3
safehttpx==0.1.7
pycocotools==2.0.11
mizani==0.13.5
vega-datasets==0.9.0
dataproc-spark-connect==1.0.2
fastlite==0.2.4
uvloop==0.22.1
peft==0.18.1
toml==0.10.2
multipledispatch==1.0.0
mpmath==1.3.0
cuda-python==12.9.4
idna==3.11
h5netcdf==1.8.1
lxml==6.0.2
google-cloud-translate==3.24.0
GDAL==3.8.4
editdistance==0.8.1
distro==1.9.0
jupyterlab_pygments==0.3.0
miniKanren==1.0.5
gcsfs==2025.3.0
h11==0.16.0
tiktoken==0.12.0
quantecon==0.11.1
flax==0.11.2
anyio==4.12.1
Jinja2==3.1.6
rtree==1.4.1
httpx==0.28.1
cymem==2.0.13
transformers==5.0.0
nvidia-nvtx-cu12==12.8.90
google-cloud-resource-manager==1.16.0
opencv-contrib-python==4.13.0.92
openai==2.28.0
matplotlib-inline==0.2.1
arviz==0.22.0
tensorboard==2.19.0
brotli==1.2.0
fqdn==1.5.1
typer-slim==0.24.0
segregation==2.5.3
huggingface_hub==1.7.1
google-cloud-dataplex==2.16.0
python-snappy==0.7.3
gitdb==4.0.12
peewee==4.0.2
google-auth-oauthlib==1.3.0
atpublic==5.1
pandas-stubs==2.2.2.240909
rfc3986-validator==0.1.1
holoviews==1.22.1
nvidia-cublas-cu12==12.8.4.1
starlette==0.52.1
colorlover==0.3.0
fastcore==1.12.26
sphinxcontrib-qthelp==2.0.0
jax-cuda12-pjrt==0.7.2
nbclassic==1.3.3
pluggy==1.6.0
prometheus_client==0.24.1
python-fasthtml==0.12.50
keras-nlp==0.26.0
jax==0.7.2
google-cloud-core==2.5.0
bigquery-magics==0.10.3
progressbar2==4.5.0
xarray-einstats==0.10.0
jaraco.functools==4.4.0
PyOpenGL==3.1.10
toolz==0.12.1
pydotplus==2.0.2
opentelemetry-exporter-gcp-monitoring==1.11.0a0
plum-dispatch==2.7.1
opentelemetry-sdk==1.38.0
fastjsonschema==2.21.2
natsort==8.4.0
multidict==6.7.1
jupyter_client==7.4.9
grpcio-status==1.71.2
contourpy==1.3.3
Werkzeug==3.1.6
momepy==0.11.0
openpyxl==3.1.5
google-cloud-logging==3.14.0
librosa==0.11.0
geocoder==1.38.1
grain==0.2.16
srsly==2.5.2
confection==0.1.5
betterproto==2.0.0b6
pycryptodomex==3.23.0
dopamine_rl==4.1.2
orjson==3.11.7
logical-unification==0.4.7
ndindex==1.10.1
catalogue==2.0.10
proglog==0.1.12
rpds-py==0.30.0
graphviz==0.21
db-dtypes==1.5.0
einops==0.8.2
google-cloud-storage==3.9.0
pyomo==6.10.0
aiosignal==1.4.0
pygit2==1.19.1
websockets==15.0.1
jupyter-leaflet==0.20.0
pydantic_core==2.41.4
statsmodels==0.14.6
mgwr==2.2.1
numexpr==2.14.1
dask-cudf-cu12==26.2.1
python-json-logger==4.0.0
distributed==2026.1.1
nbclient==0.10.4
psycopg2==2.9.11
argon2-cffi-bindings==25.1.0
opt_einsum==3.4.0
nvidia-curand-cu12==10.3.9.90
librmm-cu12==26.2.0
jaraco.context==6.1.1
tf-slim==1.1.0
ratelim==0.1.6
esda==2.8.2
tblib==3.2.2
prophet==1.3.0
proto-plus==1.27.1
click-plugins==1.1.1.2
array_record==0.8.3
geemap==0.35.3
tornado==6.5.1
google-cloud-secret-manager==2.26.0
Send2Trash==2.1.0
google-api-python-client==2.192.0
typing_extensions==4.15.0
bigframes==2.38.0
eerepr==0.1.2
cycler==0.12.1
dask==2026.1.1
cuda-bindings==12.9.4
referencing==0.37.0
pyiceberg==0.11.1
nvtx==0.2.14
libkvikio-cu12==26.2.0
tomlkit==0.13.3
cffi==2.0.0
python-louvain==0.16
python-slugify==8.0.4
libcuml-cu12==26.2.0
scooby==0.11.0
ImageIO==2.37.3
fsspec==2025.3.0
prettytable==3.17.0
keyring==25.7.0
pynndescent==0.6.0
gradio==5.50.0
yarl==1.23.0
python-dotenv==1.2.2
multiprocess==0.70.16
urllib3==2.5.0
distributed-ucxx-cu12==0.48.0
google-pasta==0.2.0
sklearn-compat==0.1.5
ipyevents==2.0.4
yfinance==0.2.66
google-cloud-spanner==3.63.0
google-cloud-language==2.19.0
SecretStorage==3.5.0
PyJWT==2.12.1
fastapi==0.135.1
glob2==0.7
pytz==2025.2
cuda-toolkit==12.8.1
nx-cugraph-cu12==26.2.0
treelite==4.7.0
jsonpointer==3.0.0
pytest==8.4.2
pylibraft-cu12==26.2.0
soundfile==0.13.1
treescope==0.1.10
sympy==1.14.0
google-cloud-aiplatform==1.141.0
jax-cuda12-plugin==0.7.2
traitlets==5.7.1
nbformat==5.10.4
jieba==0.42.1
grpclib==0.4.9
pyasn1_modules==0.4.2
mmh3==5.2.1
imageio-ffmpeg==0.6.0
weasel==0.4.3
jupyter_kernel_gateway==2.5.2
cupy-cuda12x==14.0.1
wasabi==1.1.3
sqlparse==0.5.5
grpc-interceptor==0.15.4
langsmith==0.7.18
spint==1.0.7
backcall==0.2.0
promise==2.3
termcolor==3.3.0
pandas-datareader==0.10.0
typeguard==4.5.1
oauthlib==3.3.1
jsonpatch==1.33
matplotlib==3.10.0
ipyleaflet==0.20.0
httplib2==0.31.2
cryptography==43.0.3
matplotlib-venn==1.1.2
typer==0.24.1
libclang==18.1.1
Sphinx==8.2.3
scikit-image==0.25.2
annotated-doc==0.0.4
smart_open==7.5.1
PyWavelets==1.9.0
pygame==2.6.1
simplejson==3.20.2
httpx-sse==0.4.3
kagglehub==1.0.0
msgpack==1.1.2
pyperclip==1.11.0
wrapt==2.1.2
soupsieve==2.8.3
pyshp==3.0.3
ormsgpack==1.12.2
nvidia-cudnn-cu12==9.10.2.21
google-cloud-bigquery-storage==2.36.2
googleapis-common-protos==1.73.0
h2==4.3.0
cvxopt==1.3.2
entrypoints==0.4
cmdstanpy==1.3.0
pyOpenSSL==24.2.1
ml_dtypes==0.5.4
nvidia-cuda-nvcc-cu12==12.5.82
Flask==3.1.3
libpysal==4.14.1
jupyterlab_widgets==3.0.16
google-auth==2.47.0
tokenizers==0.22.2
python-box==7.4.1
Bottleneck==1.4.2
pexpect==4.9.0
pymc==5.28.1
aiosqlite==0.22.1
spreg==1.8.5
blis==1.3.3
jupyter-events==0.12.0
nvidia-ml-py==13.590.48
cuvs-cu12==26.2.0
rasterstats==0.20.0
diffusers==0.37.0
snowballstemmer==3.0.1
missingno==0.5.2
pyogrio==0.12.1
mkl==2025.3.1
pillow==11.3.0
tbb==2022.3.1
nvidia-cusolver-cu12==11.7.3.90
gymnasium==1.2.3
mistune==3.2.0
astropy==7.2.0
opentelemetry-api==1.38.0
google-cloud-bigquery-connection==1.20.0
cudf-cu12==26.2.1
PyYAML==6.0.3
PyGObject==3.48.2
fastdownload==0.0.7
mcp==1.26.0
altair==5.5.0
torchcodec==0.10.0+cu128
imagesize==2.0.0
soxr==1.0.0
tensorstore==0.1.82
blinker==1.9.0
psygnal==0.15.1
nvidia-nccl-cu12==2.27.5
nvidia-cuda-runtime-cu12==12.8.90
geographiclib==2.1
duckdb==1.3.2
jsonschema==4.26.0
lazy-loader==0.5
accelerate==1.13.0
terminado==0.18.1
osqp==1.1.1
google-adk==1.27.1
hdbscan==0.8.41
tensorflow-datasets==4.9.9
Authlib==1.6.9
nvidia-cusparse-cu12==12.5.8.93
attrs==25.4.0
cvxpy==1.6.7
polars==1.35.2
multitasking==0.0.12
xyzservices==2025.11.0
aiohappyeyeballs==2.6.1
cuml-cu12==26.2.0
Pygments==2.19.2
scipy==1.16.3
smmap==5.0.3
jaraco.classes==3.4.0
networkx==3.6.1
decorator==4.4.2
kagglesdk==0.1.16
google-ai-generativelanguage==0.6.15
jiter==0.13.0
google==3.0.0
opentelemetry-resourcedetector-gcp==1.11.0a0
cons==0.4.7
xgboost==3.2.0
cloudpickle==3.1.2
stumpy==1.13.0
apswutils==0.1.2
spglm==1.1.0
ipytree==0.2.2
pydantic-settings==2.13.1
future==1.0.0
keras==3.13.2
tzdata==2025.3
ydf==0.15.0
googledrivedownloader==1.1.0
gin-config==0.5.0
packaging==26.0
google-genai==1.67.0
scs==3.2.11
umap-learn==0.5.11
google-api-core==2.30.0
jupytext==1.19.1
pyspark==4.0.2
langgraph-checkpoint==4.0.1
tf_keras==2.19.0
rpy2==3.5.17
sqlalchemy-spanner==1.17.2
audioread==3.1.0
sphinxcontrib-jsmath==1.0.1
nvidia-cufft-cu12==11.3.3.83
chardet==5.2.0
PuLP==3.3.0
pyzmq==26.2.1
torchvision==0.25.0+cu128
fastai==2.8.7
intel-openmp==2025.3.2
semantic-version==2.10.0
pyerfa==2.0.1.5
sphinxcontrib-serializinghtml==2.0.0
jaxlib==0.7.2
inequality==1.1.2
torch==2.10.0+cu128
gradio_client==1.14.0
jupyter_server==2.14.0
preshed==3.0.12
grpcio==1.78.0
ale-py==0.11.2
keyrings.google-artifactregistry-auth==1.1.2
ipykernel==6.17.1
python-utils==3.9.1
google-cloud-pubsub==2.36.0
google-cloud-bigtable==2.35.0
psutil==5.9.5
blobfile==3.2.0
docstring_parser==0.17.0
inflect==7.5.0
nvidia-nvshmem-cu12==3.4.5
branca==0.8.2
tensorflow==2.19.0
markdown-it-py==4.0.0
notebook_shim==0.2.4
roman-numerals==4.1.0
strictyaml==1.7.3
aiohttp==3.13.3
keras-hub==0.26.0
libucx-cu12==1.19.0
intel-cmplr-lib-ur==2025.3.2
spanner-graph-notebook==1.1.8
wandb==0.25.1
importlib_metadata==8.7.1
rfc3987-syntax==1.1.0
pydantic==2.12.3
xxhash==3.6.0
joblib==1.5.3
triton==3.6.0
simple-parsing==0.1.8
shellingham==1.5.4
ipywidgets==7.7.1
py-cpuinfo==9.0.0
wcwidth==0.6.0
narwhals==2.18.0
bqplot==0.12.45
dm-tree==0.1.9
ipython-genutils==0.2.0
gspread-dataframe==4.0.0
GitPython==3.1.46
ucxx-cu12==0.48.0
wordcloud==1.9.6
geopy==2.4.1
google-crc32c==1.8.0
stringzilla==4.6.0
music21==9.9.1
rmm-cu12==26.2.0
watchfiles==1.1.1
cuda-core==0.3.2
gdown==5.2.1
holidays==0.93
uritemplate==4.2.0
albumentations==2.0.8
libcugraph-cu12==26.2.0
google-cloud-datastore==2.23.0
tensorflow-hub==0.16.1
seaborn==0.13.2
argon2-cffi==25.1.0
fiona==1.10.1
httpcore==1.0.9
nibabel==5.4.2
pydata-google-auth==1.9.1
portpicker==1.5.2
flatbuffers==25.12.19
geopandas==1.1.3
libucxx-cu12==0.48.0
optax==0.2.7
pyproj==3.7.2
text-unidecode==1.3
tensorflow-metadata==1.17.3
propcache==0.4.1
langchain-core==1.2.19
babel==2.18.0
python-apt==0.0.0
PyJWT==2.3.0
blinker==1.4
keyring==23.5.0
lazr.restfulclient==0.14.4
pyparsing==2.4.7
launchpadlib==1.10.16
wadllib==1.3.6
httplib2==0.20.2
dbus-python==1.2.18
six==1.16.0
more-itertools==8.10.0
jeepney==0.7.1
oauthlib==3.2.0
cryptography==3.4.8
distro==1.7.0
SecretStorage==3.3.1
lazr.uri==1.0.6
python-apt==2.4.0+ubuntu4.1
PyGObject==3.42.1
importlib-metadata==4.6.4
zipp==1.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
autocommand==2.2.2
jaraco.context==5.3.0
typeguard==4.3.0
wheel==0.43.0
jaraco.text==3.12.1
importlib_resources==6.4.0
backports.tarfile==1.2.0
jaraco.collections==5.1.0
more-itertools==10.3.0
packaging==24.1
inflect==7.3.1
jaraco.functools==4.0.1
tomli==2.0.1
importlib_metadata==8.0.0
typing_extensions==4.12.2
zipp==3.19.2
platformdirs==4.2.2
