setuptools==75.2.0
types-setuptools==82.0.0.20260402
requirements-parser==0.9.0
pip==24.1.2
google-colab==1.0.0
portpicker==1.5.2
typeguard==4.5.1
arrow==1.4.0
proto-plus==1.27.2
jupyter-events==0.12.1
humanize==4.15.0
Authlib==1.6.11
chardet==5.2.0
googleapis-common-protos==1.74.0
pymc==5.28.4
tobler==0.14.0
pyperclip==1.11.0
pandas==2.2.2
yellowbrick==1.5
jsonschema-specifications==2025.9.1
stringzilla==4.6.0
dlib==19.24.6
jsonpatch==1.33
matplotlib==3.10.0
opentelemetry-exporter-gcp-trace==1.11.0
sphinxcontrib-jsmath==1.0.1
atpublic==5.1
webencodings==0.5.1
annotated-types==0.7.0
fiona==1.10.1
simple-parsing==0.1.8
db-dtypes==1.5.1
keras-nlp==0.26.0
pyogrio==0.12.1
oauthlib==3.3.1
matplotlib-venn==1.1.2
jupyterlab_widgets==3.0.16
murmurhash==1.0.15
langgraph-checkpoint==4.0.2
yfinance==0.2.66
tabulate==0.9.0
pyspark==4.0.2
firebase-admin==6.9.0
PyWavelets==1.9.0
bigquery-magics==0.14.0
jaraco.classes==3.4.0
argon2-cffi==25.1.0
gast==0.7.0
msgpack==1.1.2
httpx-sse==0.4.3
pickleshare==0.7.5
xgboost==3.2.0
pyshp==3.0.3
branca==0.8.2
spanner-graph-notebook==1.1.10
cymem==2.0.13
earthengine-api==1.7.22
py-cpuinfo==9.0.0
sphinxcontrib-htmlhelp==2.1.0
duckdb==1.3.2
moviepy==1.0.3
tcmlib==1.4.1
threadpoolctl==3.6.0
proglog==0.1.12
gradio_client==1.14.0
rsa==4.9.1
SecretStorage==3.5.0
hyperopt==0.2.7
markdown-it-py==4.0.0
srsly==2.5.3
kagglehub==1.0.0
typer==0.24.2
jupyterlab_pygments==0.3.0
ydf==0.15.0
umf==1.0.3
cffi==2.0.0
annotated-doc==0.0.4
fastdownload==0.0.7
google-cloud-speech==2.38.0
jupyter_server_terminals==0.5.4
accelerate==1.13.0
fonttools==4.62.1
sphinxcontrib-qthelp==2.0.0
ipyparallel==8.8.0
rasterstats==0.20.0
mdurl==0.1.2
tensorflow-datasets==4.9.9
gym==0.25.2
sphinxcontrib-devhelp==2.0.0
nbconvert==7.17.1
tomlkit==0.13.3
traittypes==0.2.3
spreg==1.9.0
google-cloud-aiplatform==1.148.1
einops==0.8.2
pytensor==2.38.2
slicer==0.0.8
torch==2.10.0+cpu
orjson==3.11.8
array_record==0.8.3
GitPython==3.1.47
google-cloud-dataplex==2.18.0
smmap==5.0.3
jupyter-console==6.6.3
preshed==3.0.13
pyiceberg==0.11.1
en_core_web_sm==3.8.0
google-cloud-bigquery==3.41.0
aiofiles==24.1.0
momepy==0.11.0
intel-cmplr-lib-ur==2025.3.3
ffmpy==1.0.0
ipython==7.34.0
langchain-core==1.3.1
google-cloud-functions==1.23.0
progressbar2==4.5.0
psygnal==0.15.1
music21==9.9.1
grpc-interceptor==0.15.4
opt_einsum==3.4.0
xlrd==2.0.2
mizani==0.13.5
grpcio==1.80.0
omegaconf==2.3.0
protobuf==5.29.6
jupyter_server==2.14.0
sse-starlette==3.3.4
librosa==0.11.0
fastlite==0.2.4
logical-unification==0.4.7
httplib2==0.31.2
sqlalchemy-spanner==1.17.3
pyarrow==18.1.0
fastprogress==1.1.5
clarabel==0.11.1
google-cloud-bigquery-storage==2.37.0
tensorflow-hub==0.16.1
locket==1.0.0
regex==2025.11.3
google-pasta==0.2.0
blinker==1.9.0
soupsieve==2.8.3
opentelemetry-semantic-conventions==0.59b0
textblob==0.19.0
sentence-transformers==5.4.1
GDAL==3.8.4
PyGObject==3.48.2
torchaudio==2.10.0+cpu
opentelemetry-exporter-gcp-logging==1.11.0a0
gdown==5.2.2
jaraco.context==6.1.2
astropy-iers-data==0.2026.4.20.0.58.15
multitasking==0.0.13
referencing==0.37.0
tensorflow-text==2.20.1
simsimd==6.5.16
requests-oauthlib==2.0.0
langgraph-prebuilt==1.0.10
jieba==0.42.1
missingno==0.5.2
shap==0.51.0
dopamine_rl==4.1.2
mdit-py-plugins==0.5.0
rpy2==3.5.17
tensorflow==2.20.0
torchvision==0.25.0+cpu
jiter==0.14.0
idna==3.13
Pygments==2.20.0
spint==1.0.7
sympy==1.14.0
widgetsnbextension==3.6.10
jax==0.7.2
tzlocal==5.3.1
pycryptodomex==3.23.0
holoviews==1.22.1
anyio==4.13.0
bleach==6.3.0
param==2.3.3
langgraph==1.1.9
bqplot==0.12.45
xarray-einstats==0.10.0
sentry-sdk==2.58.0
stanio==0.5.1
geopy==2.4.1
imbalanced-learn==0.14.1
wordcloud==1.9.6
wrapt==2.1.2
cvxpy==1.6.7
pytest==8.4.2
typing-inspection==0.4.2
pysal==25.7
distro==1.9.0
google-genai==1.68.0
diffusers==0.37.1
types-pytz==2026.1.1.20260408
google-cloud-resource-manager==1.17.0
yarl==1.23.0
google-cloud-language==2.20.0
websockets==15.0.1
more-itertools==10.8.0
attrs==26.1.0
Cython==3.0.12
orbax-checkpoint==0.11.36
h5netcdf==1.8.1
ipyleaflet==0.20.0
backcall==0.2.0
aiohttp==3.13.5
tokenizers==0.22.2
starlette==0.52.1
torchcodec==0.10.0
ratelim==0.1.6
python-multipart==0.0.26
cufflinks==0.17.3
absl-py==1.4.0
blobfile==3.2.0
packaging==26.1
wasabi==1.1.3
requests-toolbelt==1.0.0
cligj==0.7.2
cmake==3.31.10
alabaster==1.0.0
promise==2.3
watchfiles==1.1.1
uritemplate==4.2.0
curl_cffi==0.15.0
gin-config==0.5.0
entrypoints==0.4
wandb==0.26.1
rpds-py==0.30.0
nltk==3.9.1
google-auth-oauthlib==1.3.1
gradio==5.50.0
traitlets==5.7.1
grain==0.2.16
oauth2client==4.1.3
betterproto==2.0.0b6
et_xmlfile==2.0.0
certifi==2026.4.22
intel-openmp==2025.3.3
rfc3987-syntax==1.1.0
prometheus_client==0.25.0
sphinxcontrib-serializinghtml==2.0.0
debugpy==1.8.15
soundfile==0.13.1
uvicorn==0.46.0
httptools==0.7.1
isoduration==20.11.0
scs==3.2.11
opentelemetry-resourcedetector-gcp==1.11.0a0
gcsfs==2025.3.0
tf_keras==2.20.0
zipp==3.23.1
cons==0.4.7
jsonpointer==3.1.1
cvxopt==1.3.2
google-cloud-bigquery-connection==1.21.0
google-resumable-media==2.8.2
future==1.0.0
jaraco.functools==4.4.0
geographiclib==2.1
docutils==0.21.2
folium==0.20.0
nibabel==5.4.2
rfc3986-validator==0.1.1
parso==0.8.6
pandocfilters==1.5.1
hf-xet==1.4.3
apsw==3.53.0.0
pillow==11.3.0
hpack==4.1.0
pyzmq==26.2.1
tenacity==9.1.4
pyomo==6.10.0
geocoder==1.38.1
spopt==0.7.0
tables==3.10.2
Jinja2==3.1.6
python-slugify==8.0.4
py4j==0.10.9.9
h2==4.3.0
langchain==1.2.15
watchdog==6.0.0
Sphinx==8.2.3
nest-asyncio==1.6.0
google-cloud-audit-log==0.5.0
lightgbm==4.6.0
keyring==25.7.0
ipyfilechooser==0.6.0
plotly==5.24.1
stumpy==1.13.0
httpimport==1.4.1
dm-tree==0.1.10
mgwr==2.2.1
brotli==1.2.0
shellingham==1.5.4
Bottleneck==1.4.2
pydata-google-auth==1.9.1
python-louvain==0.16
segregation==2.5.4
psutil==5.9.5
opentelemetry-sdk==1.38.0
python-json-logger==4.1.0
python-fasthtml==0.12.50
beautifulsoup4==4.13.5
grpc-google-iam-v1==0.14.4
inflect==7.5.0
decorator==4.4.2
snowballstemmer==3.0.1
numpy==2.0.2
python-snappy==0.7.3
jupyter_client==7.4.9
hyperframe==6.1.0
pyparsing==3.3.2
pytz==2025.2
dataproc-spark-connect==1.1.0
fastapi==0.136.1
rich==13.9.4
anywidget==0.9.21
torchsummary==1.5.1
rtree==1.4.1
spacy==3.8.14
google-cloud-discoveryengine==0.13.12
kagglesdk==0.1.20
fastcore==1.12.42
peft==0.19.1
treescope==0.1.10
hdbscan==0.8.42
soxr==1.0.0
pycparser==3.0
datasets==4.0.0
argon2-cffi-bindings==25.1.0
groovy==0.1.2
google-cloud-firestore==2.27.0
Farama-Notifications==0.0.4
h11==0.16.0
spacy-legacy==3.0.12
ibis-framework==9.5.0
cachetools==6.2.6
tf-slim==1.1.0
contourpy==1.3.3
peewee==4.0.5
text-unidecode==1.3
jaxlib==0.7.2
mmh3==5.2.1
webcolors==25.10.0
google-cloud-iam==2.22.0
multiprocess==0.70.16
google-cloud-core==2.5.1
gitdb==4.0.12
charset-normalizer==3.4.7
jupyter_kernel_gateway==2.5.2
splot==1.1.7
keras==3.13.2
immutabledict==4.3.1
sphinxcontrib-applehelp==2.0.0
tensorstore==0.1.82
requests==2.32.4
roman-numerals-py==4.1.0
openai==2.32.0
google-cloud-spanner==3.65.0
simplejson==4.1.0
wcwidth==0.6.0
sentencepiece==0.2.1
catalogue==2.0.10
holidays==0.95
tqdm==4.67.3
keras-hub==0.26.0
geemap==0.37.2
frozendict==2.4.7
jsonschema==4.26.0
cloudpathlib==0.23.0
flax==0.11.2
httpcore==1.0.9
opencv-python-headless==4.13.0.92
cyipopt==1.5.0
pandas-gbq==0.30.0
itsdangerous==2.2.0
websocket-client==1.9.0
google-api-python-client==2.194.0
smart_open==7.6.0
typer-slim==0.24.0
scikit-image==0.25.2
termcolor==3.3.0
google-cloud-dataproc==5.27.0
editdistance==0.8.1
xxhash==3.6.0
tensorflow-metadata==1.17.3
etils==1.14.0
google-cloud-monitoring==2.30.0
google==3.0.0
dill==0.3.8
jupyter-leaflet==0.20.0
libclang==18.1.1
scikit-learn==1.6.1
google-cloud-trace==1.19.0
sniffio==1.3.1
affine==2.4.0
tensorflow-probability==0.25.0
matplotlib-inline==0.2.1
ndindex==1.10.1
fasttransform==0.0.2
Mako==1.3.11
lxml==6.1.0
deprecation==2.1.0
weasel==1.0.0
mcp==1.27.0
uvloop==0.22.1
google-generativeai==0.8.6
google-api-core==2.30.3
linkify-it-py==2.1.0
gymnasium==1.3.0
google-cloud-logging==3.15.0
cycler==0.12.1
tornado==6.5.1
roman-numerals==4.1.0
uuid_utils==0.14.1
sqlparse==0.5.5
frozenlist==1.8.0
seaborn==0.13.2
cryptography==43.0.3
opencv-contrib-python==4.13.0.92
tifffile==2026.4.11
Send2Trash==2.1.0
antlr4-python3-runtime==4.9.3
langgraph-sdk==0.3.13
spglm==1.1.0
pexpect==4.9.0
semantic-version==2.10.0
pyOpenSSL==24.2.1
jupytext==1.19.1
jupyter_core==5.9.1
transformers==5.0.0
panel==1.8.10
joblib==1.5.3
geopandas==1.1.3
google-auth-httplib2==0.3.1
google-crc32c==1.8.0
PyJWT==2.12.1
highspy==1.14.0
httpx==0.28.1
dask==2026.3.0
google-adk==1.29.0
albucore==0.0.24
toml==0.10.2
aiohappyeyeballs==2.6.1
partd==1.4.2
lark==1.3.1
altair==5.5.0
uc-micro-py==2.0.0
Markdown==3.10.2
pydotplus==2.0.2
lazy-loader==0.5
click-plugins==1.1.1.2
tbb==2022.3.1
timm==1.0.26
scipy==1.16.3
polars-runtime-32==1.35.2
blosc2==4.1.2
spaghetti==1.7.6
numexpr==2.14.1
fsspec==2025.3.0
Werkzeug==3.1.8
gym-notices==0.1.0
access==1.1.10.post3
urllib3==2.5.0
ipykernel==6.17.1
mistune==3.2.0
terminado==0.18.1
tensorboard-data-server==0.7.2
strictyaml==1.7.3
xarray==2025.12.0
ipython-genutils==0.2.0
confection==1.3.3
pyviz_comms==3.0.6
docstring_parser==0.18.0
torchtune==0.6.1
pandas-datareader==0.10.0
giddy==2.3.6
rfc3339-validator==0.1.4
multipledispatch==1.0.0
flatbuffers==25.12.19
ipython-sql==0.5.0
colorlover==0.3.0
glob2==0.7
google-cloud-datastore==2.24.0
narwhals==2.20.0
opentelemetry-exporter-otlp-proto-common==1.38.0
importlib_metadata==8.7.1
safehttpx==0.1.7
astropy==7.2.0
filelock==3.29.0
mkl==2025.3.1
aiosignal==1.4.0
llvmlite==0.43.0
huggingface_hub==1.11.0
python-dateutil==2.9.0.post0
google-cloud-bigtable==2.36.0
tensorboard==2.20.0
fastjsonschema==2.21.2
safetensors==0.7.0
google-cloud-pubsub==2.37.0
tzdata==2026.1
notebook_shim==0.2.4
optax==0.2.8
pydot==4.0.1
python-utils==3.9.1
googledrivedownloader==1.1.0
pydub==0.25.1
etuples==0.3.10
notebook==6.5.7
psycopg2==2.9.12
PyYAML==6.0.3
apswutils==0.1.2
overrides==7.7.0
numba==0.60.0
optree==0.19.0
kiwisolver==1.5.0
ydf_tf==2.20.0
gspread-dataframe==4.0.0
pygit2==1.19.2
tweepy==4.16.0
nbclient==0.10.4
networkx==3.6.1
cloudpickle==3.1.2
blis==1.3.3
esda==2.9.0
imagesize==2.0.0
ptyprocess==0.7.0
thinc==8.3.13
colorcet==3.1.0
xyzservices==2026.3.0
ipywidgets==7.7.1
PyOpenGL==3.1.10
namex==0.1.0
python-box==7.4.1
cmdstanpy==1.3.0
bigframes==2.39.0
openpyxl==3.1.5
six==1.17.0
plum-dispatch==2.8.0
grpcio-status==1.71.2
audioread==3.1.0
ipyevents==2.0.4
fastai==2.8.7
albumentations==2.0.8
alembic==1.18.4
vega-datasets==0.9.0
pyroaring==1.0.4
greenlet==3.4.0
pyerfa==2.0.1.5
google-cloud-storage==3.10.1
sklearn-pandas==2.2.0
nbformat==5.10.4
opentelemetry-exporter-gcp-monitoring==1.11.0a0
ale-py==0.11.2
gspread==6.2.1
opencv-python==4.13.0.92
uri-template==1.3.0
MarkupSafe==3.0.3
pyproj==3.7.2
tinycss2==1.4.0
toolz==0.12.1
scooby==0.11.2
pynndescent==0.6.0
tsfresh==0.21.1
libpysal==4.14.1
ml_dtypes==0.5.4
langsmith==0.7.34
google-cloud-appengine-logging==1.9.0
pycairo==1.29.0
ormsgpack==1.12.2
pygame==2.6.1
jsonpickle==4.1.1
pointpats==2.5.5
PySocks==1.7.1
html5lib==1.1
pandas-stubs==2.2.2.240909
mlxtend==0.23.4
mapclassify==2.10.0
beartype==0.22.9
graphviz==0.21
parsy==2.2
pyasn1==0.6.3
patsy==1.0.2
h5py==3.16.0
pluggy==1.6.0
miniKanren==1.0.5
iniconfig==2.3.0
aiosqlite==0.22.1
shapely==2.1.2
osqp==1.1.1
torchao==0.10.0
imutils==0.5.4
tiktoken==0.12.0
quantecon==0.11.2
google-ai-generativelanguage==0.6.15
onemkl-license==2025.3.1
opentelemetry-exporter-otlp-proto-http==1.38.0
astunparse==1.6.3
autograd==1.8.0
nvidia-nccl-cu12==2.30.4
ruff==0.15.11
pycocotools==2.0.11
click==8.3.3
eerepr==0.1.2
torchdata==0.11.0
grpclib==0.4.9
sqlglot==25.20.2
pydantic-settings==2.14.0
pooch==1.9.0
multidict==6.7.1
opentelemetry-api==1.38.0
plotnine==0.14.5
PuLP==3.3.0
statsmodels==0.14.6
mpmath==1.3.0
pydantic_core==2.41.4
polars==1.35.2
spacy-loggers==1.0.5
google-cloud-translate==3.26.0
keyrings.google-artifactregistry-auth==1.1.2
CacheControl==0.14.4
PyDrive2==1.21.3
cramjam==2.11.0
jeepney==0.9.0
natsort==8.4.0
community==1.0.0b1
arviz==0.22.0
sklearn-compat==0.1.5
bokeh==3.8.2
rasterio==1.5.0
SQLAlchemy==2.0.49
prettytable==3.17.0
nbclassic==1.3.3
propcache==0.4.1
python-dotenv==1.2.2
fqdn==1.5.1
imageio-ffmpeg==0.6.0
wheel==0.47.0
babel==2.18.0
pyasn1_modules==0.4.2
typing_extensions==4.15.0
google-cloud-secret-manager==2.27.0
ImageIO==2.37.3
easydict==1.13
defusedxml==0.7.1
inequality==1.1.2
opentelemetry-proto==1.38.0
prompt_toolkit==3.0.52
zstandard==0.25.0
platformdirs==4.9.6
pydantic==2.12.3
google-auth==2.47.0
Flask==3.1.3
prophet==1.3.0
umap-learn==0.5.12
kaggle==2.0.2
importlib_resources==7.1.0
python-apt==0.0.0
oauthlib==3.2.0
jeepney==0.7.1
SecretStorage==3.3.1
launchpadlib==1.10.16
lazr.uri==1.0.6
wadllib==1.3.6
cryptography==3.4.8
httplib2==0.20.2
python-apt==2.4.0+ubuntu4.1
zipp==1.0.0
PyJWT==2.3.0
lazr.restfulclient==0.14.4
importlib-metadata==4.6.4
PyGObject==3.42.1
six==1.16.0
blinker==1.4
more-itertools==8.10.0
keyring==23.5.0
dbus-python==1.2.18
pyparsing==2.4.7
distro==1.7.0
MarkupSafe==2.0.1
Markdown==3.3.6
Mako==1.1.3
importlib_resources==6.4.0
typeguard==4.3.0
platformdirs==4.2.2
typing_extensions==4.12.2
jaraco.functools==4.0.1
wheel==0.43.0
jaraco.text==3.12.1
tomli==2.0.1
zipp==3.19.2
more-itertools==10.3.0
autocommand==2.2.2
importlib_metadata==8.0.0
jaraco.context==5.3.0
inflect==7.3.1
jaraco.collections==5.1.0
backports.tarfile==1.2.0
packaging==24.1
